@import "variables";

%tap-transparent {
  -webkit-tap-highlight-color: transparent;
}

%user-select-none {
  user-select: none;
}

%border-none {
  border: none;
}

%outline-none {
  outline: none;
}

%ttu {
  text-transform: uppercase;
}

%tr-m {
  transition: $tr-main;
}

%tr-s {
  transition: $tr-second;
}

%lazy-light-background {
  background-color: $gray-element-4;
}


//%lazy-dark-background {
//  background-color: $gray-element-3;
//}

//%hover-opacity {
//  opacity: 0.85;
//}

%abs-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
