//@font-face {
//  font-family: "TTNorms";
//  src: local('TTNorms-Bold'), url("../fonts/TTNorms/TTNorms-Bold.woff") format("woff");
//  font-weight: 700;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: "TTNorms";
//  src: local('TTNorms-Medium'), url("../fonts/TTNorms/TTNorms-Medium.woff") format("woff");
//  font-weight: 500;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: "TTNorms";
//  src: local('TTNorms'), local('TTNorms-Regular'), url("../fonts/TTNorms/TTNorms-Regular.woff") format("woff");
//  font-weight: 400;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: "TTNorms";
//  src: local('TTNorms-Light'), url("../fonts/TTNorms/TTNorms-Light.woff") format("woff");
//  font-weight: 300;
//  font-style: normal;
//  font-display: swap;
//}
