@import "variables";

* {
	-webkit-tap-highlight-color: transparent;
}

html, body {
	height: 100%;
}

body {
	font-family: $ff-main;
	font-size: 14px;
	line-height: 1.4;
	color: $main-color;

  &.no-scroll {
    overflow: hidden;
  }
}

.no-transition *:not(.lazy) {
	transition: none !important;
}

a {
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: $gray-element-1;
}

::-webkit-scrollbar-thumb {
	background: $main-color;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;

	&__content {
		flex: 1 0 auto;
    overflow: hidden;
	}

	&__footer {
		flex: 0 0 auto;
	}
}

.container {
	padding: 0 16px;
	margin: 0 auto;

	@include w768 {
		width: 768px - (36px * 2);
		padding: 0;
	}

	@include w992 {
		width: 992px - (36px * 2);
	}

	@include w1200 {
		width: 1200px - (48px * 2);
	}

	@include w1600 {
		width: 1500px;
	}

}

.lazy {
	opacity: 0;
	transition: 300ms ease-in-out;

  &[lazy="loaded"] {
    opacity: 1;
  }
}

img:not([src]) {
	visibility: hidden;
}

.m {
  &-t {
    margin-top: 16px;
  }

  &-b {
    margin-bottom: 16px;
  }

  &-tb {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.p {
  &-t {
    padding-top: 16px;
  }

  &-b {
    padding-bottom: 16px;
  }

  &-tb {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@include w992 {
  .m {
    &-t {
      margin-top: 32px;
    }

    &-b {
      margin-bottom: 32px;
    }

    &-tb {
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }

  .p {
    &-t {
      padding-top: 32px;
    }

    &-b {
      padding-bottom: 32px;
    }

    &-tb {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}

[v-cloak] {
  display: none !important;
}

.text-center {
  text-align: center;
}
