$main-color: #1E1E1E;
$second-color: #CF5151;

$white-color: #FFFFFF;
$gray-element-1: #C9C9C9;
$gray-element-2: #303030;
$gray-element-3: #292929;
$gray-element-4: #EDEDED;
$gray-element-5: #939393;
$gray-text-color: #8A8A8A;
$white-text-color: rgba($white-color, 0.88);
$black-color: #000000;

$ff-main: "Rubik", system-ui, BlinkMacSystemFont, -apple-system, sans-serif;
$ff-second: "Lora", system-ui, BlinkMacSystemFont, -apple-system, serif;

$tr-main: all 150ms ease;
$tr-second: all 300ms ease;

$border-radius: 39.58333333333333%;

@mixin w380 {
  @media only screen and(min-width: 380px) {
    @content;
  }
}

@mixin w480 {
  @media only screen and(min-width: 480px) {
    @content;
  }
}

@mixin w640 {
  @media only screen and(min-width: 640px) {
    @content;
  }
}

@mixin w768 {
  @media only screen and(min-width: 768px) {
    @content;
  }
}

@mixin w992 {
  @media only screen and(min-width: 992px) {
    @content;
  }
}

@mixin w1200 {
  @media only screen and(min-width: 1200px) {
    @content;
  }
}

@mixin w1400 {
  @media only screen and(min-width: 1400px) {
    @content;
  }
}

@mixin w1600 {
  @media only screen and(min-width: 1600px) {
    @content;
  }
}

@mixin hover {
  &:hover, &:focus, &:active {
    @content
  }
}
