@import "variables";
@import "fonts";
@import "reset";
@import "extends";
@import "helpers";
@import "main";

@import "components/header";
@import "components/loader";
@import "components/home-builder";
@import "components/instagram";
@import "components/section";
@import "components/category-card";
@import "components/advantages";
@import "components/subscription";
@import "components/small-components";
@import "components/mobile-menu";
@import "components/slider";
@import "components/product-card";
@import "components/footer";

//.promotions {
//  &__item {
//    &:nth-child(2n + 1) {
//      .promotion {
//        @include hover {
//          transform: matrix3d(1,0,0.00,0.0001,0.00,1,0.00,0,0,0,1,0,0,0,0,1);
//        }
//      }
//    }
//
//    &:nth-child(2n) {
//      .promotion {
//        @include hover {
//          transform: matrix3d(1,0,0.00,-0.0001,0.00,1,0.00,0,0,0,1,0,0,0,0,1);
//        }
//      }
//    }
//  }
//}

.promotion {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 112.3595505617978%;
  position: relative;
  margin-bottom: 16px;

  &__image, &__content {
    @extend %abs-full;
  }

  &__content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: $white-color;
    background: rgba($main-color, 0.48);
    @extend %tr-m;

    @include hover {
      background: rgba($main-color, 0.72);
    }

    &-bottom {
      display: flex;

      //.btn {
      //  color: $white-color;
      //
      //  &:after {
      //    border-color: rgba($white-color, 0.16) rgba($white-color, 0.16) $white-color rgba($white-color, 0.16);
      //  }
      //
      //  &:before {
      //    background: $white-color;
      //  }
      //
      //  @include hover {
      //    color: $main-color;
      //  }
      //}
    }
  }

  &__description, &__subtitle {
    color: rgba($white-color, 0.48);
  }

  &__description {
    font-size: 10px;
    text-transform: uppercase;
  }

  &__title {
    font-family: $ff-second;
    font-size: 22px;
    letter-spacing: 0.05em;
    margin-bottom: 0.25em;
  }

  &__subtitle {
    font-size: 12px;
  }
}

@include w380 {
  .promotion {
    &__title {
      font-size: 28px;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__description {
      font-size: 12px;
    }
  }
}

@include w480 {
  .promotions {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -16px;

    &__item {
      width: calc(50% - 16px);
      margin: 0 8px;
    }
  }

  .promotion {
    &__title {
      font-size: 18px;
    }

    &__subtitle {
      font-size: 12px;
    }

    &__description {
      font-size: 10px;
    }
  }
}

@include w640 {
  .promotion {
    &__title {
      font-size: 24px;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__description {
      font-size: 12px;
    }
  }
}

@include w992 {
  .promotions {
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -32px;

    &__item {
      width: calc(50% - 32px);
      margin: 0 16px;
    }
  }

  .promotion {
    margin-bottom: 32px;

    &__content {
      padding: 32px;
    }

    &__title {
      font-size: 30px;
    }
  }
}

@include w1600 {
  .promotions {
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: -80px;

    &__item {
      width: calc(50% - 80px);
      margin: 0 40px;
    }
  }

  .promotion {
    margin-bottom: 80px;

    &__content {
      padding: 64px;
    }

    &__title {
      font-size: 48px;
    }

    &__subtitle {
      font-size: 16px;
    }

    &__description {
      font-size: 14px;
    }
  }
}
