@import "../variables";

.advantages {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 0;
  margin-bottom: -32px;

  @include w768 {
    margin-bottom: 0;
  }

  @include w992 {
    padding: 48px 0;
  }

  &__item {
    width: 50%;
    text-align: center;
    padding: 0 16px;
    font-size: 12px;
    margin-bottom: 32px;
    position: relative;

    @include w768 {
      width: 25%;
      margin-bottom: 0;
    }

    @include w992 {
      font-size: 14px;
    }

    @include w1200 {
      font-size: 16px;

      &:after {
        content: '';
        display: block;
        width: 1px;
        height: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
        background: $gray-element-2;
      }

      &:last-child {
        &:after {
          content: none;
        }
      }
    }

    &-icon {
      position: relative;
      margin-bottom: 12px;
      padding-left: 12px;

      &:before {
        content: '';
        display: block;
        width: 48px;
        height: 48px;
        border-radius: $border-radius;
        background: $gray-element-3;
        position: absolute;
        bottom: calc(50% - 48px + 12px);
        left: calc(50% - 48px + 12px);
      }

      svg {
        width: 48px;
        height: 48px;
        position: relative;
      }
    }

    &-title {
      font-weight: 500;
      color: $white-color;
      padding: 8px 0;

      @include w992 {
        padding-bottom: 16px;
      }
    }

    &-text {
      color: $gray-text-color;
    }
  }
}
