@import "../variables";

.category-card {
  width: 100%;
  height: 0;
  padding-bottom: 152.5885558583106%;
  position: relative;
  display: block;

  &__image, &__content {
    @extend %abs-full;
  }

  &__content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba($main-color, 0.24);
    font-weight: 500;
    @extend %tr-m;

    @include w1200 {
      padding: 32px;
      align-items: flex-start;
      justify-content: flex-end;
    }
  }

  &__title, &__count {
    transform-origin: left;
    @extend %tr-m;
  }

  &__title {
    font-size: 20px;
    color: $white-color;
    margin-bottom: 0.6em;

    @media only screen and(min-width: 380px) {
      font-size: 18px;
    }

    @include w480 {
      font-size: 20px;
    }
  }

  &__count {
    color: rgba($white-color, 0.48);

    @media only screen and(min-width: 380px) {
      font-size: 12px;
    }

    @include w480 {
      font-size: 14px;
    }
  }

  @include hover {
    .category-card__content {
      background: rgba($main-color, 0.48);
    }
  }
}
