@import "../variables";

.wrapper__header {
  padding-bottom: 54px;
  position: relative;

  @include w640 {
    padding-bottom: 64px;
  }

  @include w992 {
    padding-bottom: 211px;
  }

  @include w1200 {
    padding-bottom: 215px;
  }
}

.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  transition: transform .3s ease, background-color .3s ease .2s;

  @include w992 {
    padding-bottom: 5px;
    background: transparent;

    &:after {
      content: '';
      display: block;
      background: rgba($main-color, 0);
      position: absolute;
      top: calc(100% - 5px);
      left: 0;
      right: 0;
      height: 100vh;
      pointer-events: none;
      transition: $tr-second;
    }
  }

  @media only screen and(min-width: 992px) and(hover: none) and(pointer: coarse) {
    &:after {
      content: none;
    }
  }

  &__top, &__center {
    background: $main-color;
    color: $gray-text-color;
  }

  &__top {
    display: none;
    border-bottom: 1px solid $gray-element-2;

    @include w992 {
      display: block;
    }

    &-content {
      display: flex;
      align-items: center;
      padding: 16px 0;
    }
  }

  &__center {
    position: relative;
    border-bottom: 1px solid $gray-element-2;

    @include w992 {
      border-bottom: none;
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 0;

      @include w992 {
        padding: 0;
      }
    }
  }

  &__bottom {
    display: none;
    position: relative;
    background: $white-color;
    border-bottom: 1px solid $gray-element-4;
    transition: $tr-main;

    @include w992 {
      display: block;
    }

    &-content {
      display: flex;
      justify-content: space-between;
    }

    &-submenus {
      display: flex;
      flex: 1;
    }
  }

  &.fixed {
    position: fixed;
    background: $main-color;

    @media only screen and(min-width: 992px) and(hover: none) and(pointer: coarse) {
      position: absolute;
    }

    .header__bottom {
      border-bottom: none;
    }

    .header-submenu__item-content {
      top: 100%;
      border-top: 1px solid $gray-element-4;

      &:after {
        content: none;
      }
    }
  }

  &.active {
    background: transparent;
    transition: transform .3s ease, background-color 0s ease;

    &:after {
      background: rgba($main-color, 0.9);
    }
  }

  &.without-transition {
    transition: none;
  }
}

.header-phone, .header-languages {
  @include w992 {
    flex: 1;
  }
}

.header-menu, .header-logo, .header-controls {
  @include w768 {
    flex: 1;
  }
}

.header-phone {
  a {
    color: $gray-text-color;
    @extend %tr-m;

    @include hover {
      color: $white-color;
    }
  }
}

.header-news {
  text-align: center;
  margin: 0 16px;
  flex: 2;

  &__link {
    @include hover {
      .header-news__title {
        color: $white-color;
      }
    }
  }

  &__date, &__title {
    @extend %tr-m;
  }

  &__date {
    color: $white-color;
    margin-right: 8px;
  }

  &__title {
    color: $gray-text-color;
  }
}

.header-languages {
  display: flex;
  justify-content: flex-end;
}

.header-menu {
  display: none;

  @include w992 {
    display: flex;
    flex: 1;
  }

  &__item {
    display: inline-block;
    color: $gray-text-color;
    font-weight: 500;
    padding: 24px 16px;
    position: relative;
    @extend %user-select-none;
    @extend %tr-m;

    @include w992 {
      font-size: 16px;
      padding: 41px 24px;
    }

    @include hover {
      color: $white-color;
    }

    &.active {
      color: $white-color;

      &:before {
        background: $gray-element-3;
        transform: scale(1);
      }

      &:after {
        opacity: 1;
        transform: scaleY(1);
      }
    }

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      @extend %tr-m;
    }

    &:before {
      width: 32px;
      height: 32px;
      border-radius: $border-radius;
      background: transparent;
      left: 0;
      top: 15%;
      transform: scale(0);

      @include w992 {
        width: 40px;
        height: 40px;
        top: 24%;
        left: 4px;
      }
    }

    &:after {
      right: 0;
      bottom: 0;
      width: 100%;
      opacity: 0;
      background: $white-color;
      height: 3px;
      transform-origin: bottom;
      transform: scaleY(0);

      @include w992 {
        height: 4px;
      }
    }

    span {
      position: relative;
    }
  }
}

.header-submenu {
  display: none;
  //transform: scaleX(0);
  //width: 0;
  opacity: 0;
  transition: .15s ease-in-out;

  &.active {
    display: flex;
    //visibility: visible;
    //transform: scaleX(1);
    //width: 100%;
  }

  &.show {
    opacity: 1;
  }

  &__item {
    &:first-child {
      .header-submenu {
        &__item {
          &-title {
            margin-left: 8px;

            @include w1200 {
              margin-left: 4px;
            }

            @include w1600 {
              margin-left: -12px;
            }
          }
        }
      }
    }

    &:last-child {
      .header-submenu {
        &__item {
          &-title {
            &:before {
              content: none;
            }
          }
        }
      }
    }

    &-title {
      display: inline-flex;
      padding: 0 8px;
      font-weight: 500;
      color: $gray-text-color;
      position: relative;
      white-space: nowrap;
      line-height: 1;
      @extend %tr-m;

      span {
        display: inline-block;
        height: 100%;
        padding: 20px 8px;
        position: relative;

        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          position: absolute;
          left: 0;
          bottom: 0;
          background: transparent;
          @extend %tr-m;
        }

        @include w1200 {
          padding: 22px 8px;
        }

        @include w1600 {
          padding: 22px 12px;
        }
      }

      &:before {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        background: $gray-element-4;
        position: absolute;
        right: -2px;
        top: 50%;
        border-radius: 50%;
        transform: translateY(-2px);
      }

      @include w1200 {
        padding: 0 12px;
      }

      @include w1600 {
        padding: 0 24px;
      }

      @include hover {
        color: $main-color;

        span {
          &:after {
            background: $main-color;
          }
        }
      }

      &.special {
        color: $second-color;
      }
    }

    &-content {
      position: absolute;
      z-index: 999;
      left: 0;
      top: calc(100% + 1px);
      width: 100%;
      background: $white-color;
      opacity: 0;
      visibility: hidden;
      transition: visibility 0s linear 300ms, transform 0s ease 300ms, opacity 150ms ease 150ms;
      transform: scaleY(0);

      &:after {
        content: '';
        display: block;
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba($main-color, 0.9);
        pointer-events: none;
      }
    }

    @include hover {
      .header-submenu__item-content {
        transform: scaleY(1);
        visibility: visible;
        transition: visibility 0s linear 150ms, transform 0s ease 150ms, opacity 150ms ease 150ms;
        opacity: 1;
      }
    }
  }
}

.header-search {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 0 16px;
  margin-left: 48px;
  background: $gray-element-4;

  @include w1200 {
    width: 300px;
  }

  @include w1600 {
    width: 351px;
  }

  &__icon {
    background: transparent;
    padding: 0;
    display: inline-flex;
    margin-right: 16px;
    @extend %outline-none;
    @extend %border-none;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &__field {
    width: 100%;
    background: transparent;
    font-weight: 500;
    color: $gray-text-color;
    @extend %border-none;
    @extend %outline-none;
  }
}

.header-floated-search {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -1px;
  border-bottom: 1px solid $gray-element-1;
  background: $gray-element-4;
  visibility: hidden;
  transform: translateY(-100%);
  opacity: 0;
  transition: visibility 0s linear .15s, transform .15s ease 0s, opacity .15s ease 0s;

  @include w992 {
    display: none !important;
  }

  &.active {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    transition: visibility 0s linear 0s, transform .15s ease 0s, opacity .15s ease 0s;
  }

  .container {
    height: 100%;
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__close, &__icon {
    display: inline-flex;
    background: none;
    padding: 0;
    color: $black-color;
    @extend %border-none;
    @extend %outline-none;

    svg {
      width: 18px;
      height: 18px;
    }

    @include w640 {
      svg {
        width: 22px;
        height: 22px;
      }
    }
  }

  &__icon {
    margin-right: 16px;

    @include w480 {
      margin-right: 24px;
    }
  }

  &__close {
    margin-left: 16px;

    @include w480 {
      margin-left: 24px;
    }
  }

  &__field {
    height: 100%;
    flex: 1;
    background: transparent;
    font-weight: 500;
    color: $gray-text-color;
    @extend %border-none;
    @extend %outline-none;
  }
}

.header-logo {
  margin: 0 16px;

  @include w480 {
    flex: 2;
    text-align: center;
  }

  @include w992 {
    margin: 0;
    flex: none;
  }

  &__link {
    display: inline-block;
  }

  .logo {
    font-size: 20px;

    @include w640 {
      font-size: 32px;
    }

    @include w992 {
      font-size: 40px;
    }
  }
}

.header-controls {
  display: flex;
  align-items: center;

  @include w480 {
    flex: 1;
    justify-content: flex-end;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-left: 16px;
    color: $white-color;
    @extend %tr-m;

    @include w640 {
      margin-left: 24px;
    }

    @include w1200 {
      margin-left: 32px;
    }

    &:first-child {
      margin-left: 0;
    }

    &-icon {
      display: inline-flex;

      &.menu {
        width: 18px;
        height: 18px;
        position: relative;

        @include w640 {
          width: 22px;
          height: 22px;
        }

        @include hover {
          color: $white-color;
        }

        svg {
          @extend %tr-m;
          @extend %abs-full;

          &.times {
            transform: scale(0);
            opacity: 0;
          }
        }

        &.active {
          svg {
            &.bars {
              transform: scale(0);
              opacity: 0;
            }

            &.times {
              transform: scale(1);
              opacity: 1;
            }
          }
        }
      }

      svg {
        width: 18px;
        height: 18px;

        @include w640 {
          width: 22px;
          height: 22px;
        }

        @include w992 {
          width: 24px;
          height: 24px;
        }
      }
    }

    &-text {
      display: none;
      font-weight: 500;
      font-size: 13px;
      margin-left: 6px;

      @include w992 {
        display: block;
      }

      @include w1200 {
        font-size: 15px;
      }
    }

    @include hover {
      color: $gray-text-color;
    }

    &#header-account {
      display: none;

      @include w480 {
        display: inline-flex;
      }
    }

    &#header-bars {
      @include w992 {
        display: none;
      }
    }
  }
}

.header-mobile-controls {
  justify-content: flex-start;

  @include w992 {
    display: none;
  }
}

.submenu {
  padding: 32px 0;
  display: flex;

  @include w1200 {
    padding: 40px 0;
  }

  &__column {
    flex: 1;
    margin-left: 24px;
  }
}

.submenu-list {
  &__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    margin: 0 0 16px;
    text-transform: uppercase;
    color: $gray-text-color;

    @include w1200 {
      font-size: 14px;
      margin-bottom: 16px;
    }
  }

  &__item {
    &-link {
      font-weight: 500;
      color: $main-color;
      line-height: 2.1;
      padding: 1px 0;
      background: linear-gradient($main-color, $main-color) 0 100% no-repeat;
      background-size: 0 1px;
      @extend %tr-m;

      @include hover {
        background-size: 100% 1px;
      }
    }
  }
}

.submenu-best {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;

  &__image, &__content {
    @extend %abs-full;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    color: $main-color;

    @include w1600 {
      padding: 32px;
    }
  }

  &__title {
    font-family: $ff-second;
    font-size: 24px;

    @include w1200 {
      font-size: 32px;
    }

    @include w1600 {
      font-size: 40px;
    }
  }

  &__button {
    .btn {
      padding: 12px 24px;

      @include w1200 {
        padding: 16px 32px;
      }
    }
  }
}
