@import "../variables";

.home-builder {
  @include w480 {
    display: flex;
  }

  &__item {
    flex: 1;
    margin-bottom: 16px;

    @include w480 {
      margin-right: 8px;
      margin-bottom: 0;
    }

    @include w640 {
      margin-right: 16px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    position: relative;
    overflow: hidden;

    img {
      object-position: top;
    }

    @include w480 {
      padding-bottom: 156.25%;

      img {
        object-position: center;
      }
    }

    @include w992 {
      background: $gray-element-1;

      @include hover {
        .home-builder__title {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  &__title {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white-color;
    font-family: $ff-second;
    background: rgba($main-color, 0.72);
    transform: scale(1.25);
    @extend %tr-m;
    @extend %abs-full;

    @include w480 {
      font-size: 3vw;
    }

    @include w768 {
      font-size: 24px;
    }

    @include w992 {
      opacity: 0;
      font-size: 36px;
    }

    @include w1200 {
      font-size: 48px;
    }
  }
}
