@import "../variables";

.ins {
  display: flex;
  flex-wrap: wrap;

  @include w640 {
    margin-left: -12px;
    margin-right: -12px;
  }

  &__item {
    width: 50%;

    @include w480 {
      width: 25%;
    }

    @include w640 {
      width: calc(25% - 24px);
      margin: 0 12px 24px;

      &:last-child {
        margin-right: 0;
      }
    }

    &-link {
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      position: relative;
      color: $white-color;
      overflow: hidden;
      @extend %lazy-light-background;
    }

    &-likes {
      opacity: 0;
      background: rgba($main-color, 0.72);
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      @extend %tr-m;
      @extend %abs-full;
    }

    @include hover {
      .ins__item-likes {
        opacity: 1;
      }
    }
  }
}
