@import "../variables";

.loader {
	position: relative;
  color: transparent;

	&:before {
		content: '';
		position: absolute;
		z-index: 998;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba($black-color, 0.25);
	}

	&:after {
		content: '';
		position: absolute;
		z-index: 999;
		top: 50%;
		left: 50%;
		margin-left: -15px;
		margin-top: -15px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 5px solid;
		box-sizing: border-box;
    border-color: $white-color $white-color $main-color $main-color;
		animation: spinner .6s infinite linear;

		@include w768 {
			margin-left: -20px;
			margin-top: -20px;
			width: 40px;
			height: 40px;
		}
	}

	@keyframes spinner {
		from {
			transform: rotate(0);
		}
		to {
			transform: rotate(360deg);
		}
	}

  &.loader-btn {
    &:before {
      background: rgba($main-color, 1);
    }

    &:after {
      border-width: 2px;
      margin-left: -8px;
      margin-top: -8px;
      width: 16px;
      height: 16px;
      border-color: $white-color $white-color $main-color $main-color;

      @include w768 {
        margin-left: -13px;
        margin-top: -13px;
        width: 26px;
        height: 26px;
      }
    }
  }

	&--circle {
		&:before {
			border-radius: 50%;
		}
	}

	&--without-bg {
		&:before {
			content: none;
		}
	}
}
