@import "../variables";

.product-card {
  font-weight: 500;

  //@include hover {
  //  .product-card__image {
  //    img {
  //      //transform: scale(1.05);
  //      opacity: 0;
  //    }
  //  }
  //}

  &__content {
    width: 100%;
    height: 0;
    padding-bottom: 150%;
    position: relative;
    background: $gray-element-4;
    margin-bottom: 12px;
  }

  &__image, &__informers {
    @extend %abs-full;
  }

  &__image {
    overflow: hidden;
    background-size: cover;
    @extend %abs-full;

    img {
      object-fit: cover;
      transition: all .2s ease;
    }

    &-secondary {
      @media only screen and(max-width: 992px) and(hover: none) and(pointer: coarse) {
        display: none;
      }
    }
  }

  &__informers {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__label {
    text-transform: uppercase;
  }

  &__like {
    padding: 0;
    border: none;
    display: flex;
    background: transparent;
    position: relative;
    pointer-events: all;
    outline: none;

    &:hover {
      .product-card__like-bordered {
        color: lighten($main-color, 20%);
      }
    }

    &.active {
      .product-card__like {
        &-bordered {
          opacity: 0;
        }

        &-filled {
          opacity: 1;
          transform: scale(1);
          visibility: visible;
        }
      }
    }

    &-bordered {
      width: 20px;
      height: 20px;
      opacity: 1;
      @extend %tr-m;
    }

    &-filled {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      opacity: 0;
      transform: scale(2);
      visibility: hidden;
      @extend %tr-m;
    }
  }

  &__colors {
    display: flex;
    align-items: center;

    &-list {
      display: flex;
    }

    &-item {
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 8px;
    }

    &-text {
      padding-left: 4px;
      line-height: 1;
      font-size: 12px;
      color: $gray-element-5;
    }
  }

  &__title, &__subtitle {
    a {
      color: $main-color;
    }
  }

  &__title {
    font-size: 16px;
  }

  &__subtitle {
    margin: 4px 0;
  }

  &__price {
    color: $gray-text-color;
  }

  @media only screen and(min-width: 380px) {
    &__title {
      font-size: 14px;
    }

    &__subtitle, &__price {
      font-size: 12px;
    }

    &__subtitle {
      margin: 2px 0;
    }
  }

  @include w768 {
    &__subtitle {
      margin: 6px 0;
    }
  }

  @include w992 {
    &__subtitle {
      margin: 10px 0 6px;
    }
  }

  @include w1200 {
    &__title {
      font-size: 16px;
    }

    &__subtitle, &__price {
      font-size: 14px;
    }
  }

  @include w1600 {
    &__content {
      margin-bottom: 16px;
    }

    &__informers {
      padding: 32px;
    }

    &__subtitle {
      margin: 16px 0 10px;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
