@import "../variables";

.section {
  &-subtitle {
    text-align: center;
    text-transform: uppercase;
    color: $gray-text-color;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 0.5em;

    @include w992 {
      font-size: 14px;
      //margin-bottom: 8px;
    }
  }

  &-title {
    font-family: $ff-second;
    font-weight: 400;
    text-align: center;
    color: $main-color;
    margin-bottom: 24px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 0;
      right: 0;
      height: 1px;
      background: $gray-element-4;
    }

    span {
      position: relative;
      background: $white-color;
      padding: 0 1em;
    }

    &--instagram {
      span {
        &:before {
          content: '#';
          color: $gray-element-1;
        }
      }
    }

    @include w480 {
      font-size: 26px;
    }

    @include w768 {
      font-size: 32px;
    }

    @include w992 {
      font-size: 40px;
    }

    @include w1200 {
      font-size: 48px;
      margin-bottom: 48px;
    }
  }

  &--mt {
    margin-top: 32px;

    @include w992 {
      margin-top: 48px;
    }

    @include w1200 {
      margin-top: 64px;
    }

    @include w1600 {
      margin-top: 96px;
    }
  }

  &--mb {
    margin-bottom: 32px;

    @include w992 {
      margin-bottom: 48px;
    }

    @include w1200 {
      margin-bottom: 64px;
    }

    @include w1600 {
      margin-bottom: 96px;
    }
  }

  &--dark {
    background: $main-color;
    color: $white-text-color;
  }

  &--bb {
    border-bottom: 1px solid $gray-element-2;
  }
}
