@import "../variables";

.slider-container {
  position: relative;

  .tns-nav {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    button {
      width: 8px;
      height: 8px;
      border: none;
      margin-right: 8px;
      padding: 0;
      border-radius: 50%;
      outline: none;
      background: $gray-element-1;
      @extend %tr-m;

      &.tns-nav-active {
        background: $main-color;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.slider {
  &__controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    transform: translateY(-50%);
  }

  &__arrow {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    outline: none;
    pointer-events: all;
    border: none;
    cursor: pointer;
    background: transparent;
    transition: all 150ms ease-in-out;
    color: $gray-element-5;

    &-next {
      transform: rotate(180deg);
    }

    &-svg {
      width: 100%;
      height: 100%;
    }

    @include hover {
      color: $main-color;
    }
  }
}

.promotions-slider-container {
  button[data-action="start"], button[data-action="stop"] {
    display: none;
  }

  .tns-nav {
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
    margin-top: 0;

    @include w1600 {
      bottom: 24px;
    }

    button {
      border-radius: 0;
      background: transparent;
      width: 24px;
      height: 24px;
      margin-right: 8px;

      &:after {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        margin: 0 auto;
        border-radius: 50%;
        background: rgba($white-color, 0.48);
        @extend %tr-m;
      }

      @include hover {
        &:after {
          background: $white-color;
        }
      }

      @include w1600 {
        margin-right: 12px;
      }

      &.tns-nav-active {
        background: transparent;

        &:after {
          background: $white-color;
          transform: scale(2);
        }
      }
    }
  }
}

.promotions-slider-controls {
  pointer-events: none;
  padding: 0 8px;
  @extend %abs-full;

  @include w640 {
    padding: 0 16px;
  }

  .container {
    position: relative;
    height: 100%;
  }

  .slider__arrow {
    pointer-events: all;
    border: 1px solid rgba($white-color, 0.48);
    width: 24px;
    height: 24px;

    @include w992 {
      width: 32px;
      height: 32px;
    }

    @include w1600 {
      width: 40px;
      height: 40px;
    }

    &-svg {
      width: 31.6%;
      height: 31.6%;
      color: $white-color;
    }

    @include hover {
      border-color: $white-color;
    }
  }
}

.promotion-slide {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
  user-select: none;

  @include w640 {
    padding-bottom: 40%;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 32px;
    right: 32px;
    bottom: 0;
  }

  &__content-container {
    background: rgba($main-color, 0.48);
    @extend %abs-full;

    .container {
      height: 100%;
    }
  }

  &__content {
    height: 100%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white-color;
    position: relative;

    @include w640 {
      padding: 32px;
    }

    @include w992 {
      padding: 32px 96px;
    }
  }

  &__count {
    position: absolute;
    top: 16px;
    left: 0;
    display: none;
    line-height: 1;
    font-size: 24px;

    @include w640 {
      display: block;
    }

    @include w992 {
      top: 32px;
      font-size: 28px;
    }

    @include w1200 {
      top: 48px;
    }

    @include w1600 {
      font-size: 32px;
      top: 64px;
    }

    &-current {
      font-size: 1em;
    }

    &-all {
      font-size: 0.5em;
    }
  }

  &__subtitle {
    font-size: 10px;
    text-transform: uppercase;
    color: rgba($white-color, 0.48);

    @include w640 {
      font-size: 12px;
    }

    @include w1600 {
      font-size: 14px;
    }
  }

  &__title {
    font-family: $ff-second;
    font-size: 22px;
    line-height: 1.2;
    margin: 0.2em 0 .75em;

    @include w380 {
      font-size: 28px;
    }

    @include w480 {
      font-size: 6.5vw;
    }

    @include w640 {
      font-size: 6vw;
    }

    @include w768 {
      font-size: 48px;
    }

    @include w992 {
      font-size: 56px;
    }

    @include w1200 {
      font-size: 64px;
    }

    @include w1600 {
      font-size: 80px;
    }
  }

  &__button {
    display: inline-flex;
  }
}

@include w768 {
  .slider-container {
    padding: 0 28px;
    margin-left: -28px;
    margin-right: -28px;
  }
}

@include w992 {
  .products-slider {
    .slider__controls {
      height: 327px;
      top: 0;
      transform: none;
      align-items: center;
    }
  }
}

@include w1200 {
  .slider-container {
    padding: 0 34px;
    margin-left: -34px;
    margin-right: -34px;
  }

  .products-slider {
    .slider__controls {
      height: 378px;
    }
  }
}

@include w1600 {
  .products-slider {
    .slider__controls {
      height: 526.5px;
    }
  }
}
