@import "../variables";

.subscription {
  padding: 16px 0;

  @include w640 {
    display: flex;
    align-items: center;
  }

  @include w1200 {
    padding: 32px 0;
  }

  &__text, &__form {
    @include w640 {
      flex: 1;
    }
  }

  &__text {
    text-align: center;
    font-weight: 500;
    color: $white-color;

    @include w640 {
      text-align: left;
      margin-right: 32px;
    }

    @include w992 {
      font-size: 18px;
      margin-right: 48px;
    }

    @include w1200 {
      font-size: 20px;
      margin-right: 64px;
    }
  }

  &__form {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray-element-2;
    padding: 4px 0;
    font-weight: 500;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;

    @include w640 {
      margin-top: 0;
      max-width: none;
      padding: 8px 0;
    }

    @include w992 {
      font-size: 14px;
      padding: 12px 0;
    }

    @include w1200 {
      font-size: 16px;
      padding: 16px 0;
    }

    input, button {
      background: none;
      border: none;
    }

    input {
      width: 100%;
      margin-right: 16px;
      outline: none;
      color: $gray-text-color;
    }

    button {
      padding: 0;
      color: $white-color;
    }
  }
}
