*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a,
button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.dropdown__header, .header-menu__item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header-floated-search__field, .header-floated-search__close, .header-floated-search__icon, .header-search__field, .header-search__icon {
  border: none;
}

.header-floated-search__field, .header-floated-search__close, .header-floated-search__icon, .header-search__field, .header-search__icon {
  outline: none;
}

.promotion__content, .footer-menu__link:after, .footer-menu__title:after, .footer__socials a, .footer__phone-number a, .product-card__like-filled, .product-card__like-bordered, .promotions-slider-container .tns-nav button:after, .slider-container .tns-nav button, .mm__menu-category-title:after, .mm__menus, .mm__tabs-item:before, .mm__tabs-item:after, .mm__tabs-item, .location, .dropdown__header:after, .btn:before, .btn, .category-card__title, .category-card__count, .category-card__content, .ins__item-likes, .home-builder__title, .submenu-list__item-link, .header-controls__item-icon.menu svg, .header-controls__item, .header-submenu__item-title span:after, .header-submenu__item-title, .header-menu__item:before, .header-menu__item:after, .header-menu__item, .header-news__date, .header-news__title, .header-phone a {
  transition: all 150ms ease;
}

.ins__item-link {
  background-color: #EDEDED;
}

.promotion__image, .promotion__content, .product-card__image, .product-card__informers, .promotion-slide__content-container, .promotions-slider-controls, .btn:before, .btn:after, .category-card__image, .category-card__content, .ins__item-likes, .home-builder__title, .submenu-best__image, .submenu-best__content, .header-controls__item-icon.menu svg, .image-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
}

body {
  font-family: "Rubik", system-ui, BlinkMacSystemFont, -apple-system, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #1E1E1E;
}
body.no-scroll {
  overflow: hidden;
}

.no-transition *:not(.lazy) {
  transition: none !important;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #C9C9C9;
}

::-webkit-scrollbar-thumb {
  background: #1E1E1E;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrapper__content {
  flex: 1 0 auto;
  overflow: hidden;
}
.wrapper__footer {
  flex: 0 0 auto;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    width: 696px;
    padding: 0;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 920px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1104px;
  }
}
@media only screen and (min-width: 1600px) {
  .container {
    width: 1500px;
  }
}

.lazy {
  opacity: 0;
  transition: 300ms ease-in-out;
}
.lazy[lazy=loaded] {
  opacity: 1;
}

img:not([src]) {
  visibility: hidden;
}

.m-t {
  margin-top: 16px;
}
.m-b {
  margin-bottom: 16px;
}
.m-tb {
  margin-top: 16px;
  margin-bottom: 16px;
}

.p-t {
  padding-top: 16px;
}
.p-b {
  padding-bottom: 16px;
}
.p-tb {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media only screen and (min-width: 992px) {
  .m-t {
    margin-top: 32px;
  }
  .m-b {
    margin-bottom: 32px;
  }
  .m-tb {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .p-t {
    padding-top: 32px;
  }
  .p-b {
    padding-bottom: 32px;
  }
  .p-tb {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
[v-cloak] {
  display: none !important;
}

.text-center {
  text-align: center;
}

.wrapper__header {
  padding-bottom: 54px;
  position: relative;
}
@media only screen and (min-width: 640px) {
  .wrapper__header {
    padding-bottom: 64px;
  }
}
@media only screen and (min-width: 992px) {
  .wrapper__header {
    padding-bottom: 211px;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper__header {
    padding-bottom: 215px;
  }
}

.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease, background-color 0.3s ease 0.2s;
}
@media only screen and (min-width: 992px) {
  .header {
    padding-bottom: 5px;
    background: transparent;
  }
  .header:after {
    content: "";
    display: block;
    background: rgba(30, 30, 30, 0);
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    right: 0;
    height: 100vh;
    pointer-events: none;
    transition: all 300ms ease;
  }
}
@media only screen and (min-width: 992px) and (hover: none) and (pointer: coarse) {
  .header:after {
    content: none;
  }
}
.header__top, .header__center {
  background: #1E1E1E;
  color: #8A8A8A;
}
.header__top {
  display: none;
  border-bottom: 1px solid #303030;
}
@media only screen and (min-width: 992px) {
  .header__top {
    display: block;
  }
}
.header__top-content {
  display: flex;
  align-items: center;
  padding: 16px 0;
}
.header__center {
  position: relative;
  border-bottom: 1px solid #303030;
}
@media only screen and (min-width: 992px) {
  .header__center {
    border-bottom: none;
  }
}
.header__center-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
@media only screen and (min-width: 992px) {
  .header__center-content {
    padding: 0;
  }
}
.header__bottom {
  display: none;
  position: relative;
  background: #FFFFFF;
  border-bottom: 1px solid #EDEDED;
  transition: all 150ms ease;
}
@media only screen and (min-width: 992px) {
  .header__bottom {
    display: block;
  }
}
.header__bottom-content {
  display: flex;
  justify-content: space-between;
}
.header__bottom-submenus {
  display: flex;
  flex: 1;
}
.header.fixed {
  position: fixed;
  background: #1E1E1E;
}
@media only screen and (min-width: 992px) and (hover: none) and (pointer: coarse) {
  .header.fixed {
    position: absolute;
  }
}
.header.fixed .header__bottom {
  border-bottom: none;
}
.header.fixed .header-submenu__item-content {
  top: 100%;
  border-top: 1px solid #EDEDED;
}
.header.fixed .header-submenu__item-content:after {
  content: none;
}
.header.active {
  background: transparent;
  transition: transform 0.3s ease, background-color 0s ease;
}
.header.active:after {
  background: rgba(30, 30, 30, 0.9);
}
.header.without-transition {
  transition: none;
}

@media only screen and (min-width: 992px) {
  .header-phone, .header-languages {
    flex: 1;
  }
}

@media only screen and (min-width: 768px) {
  .header-menu, .header-logo, .header-controls {
    flex: 1;
  }
}

.header-phone a {
  color: #8A8A8A;
}
.header-phone a:hover, .header-phone a:focus, .header-phone a:active {
  color: #FFFFFF;
}

.header-news {
  text-align: center;
  margin: 0 16px;
  flex: 2;
}
.header-news__link:hover .header-news__title, .header-news__link:focus .header-news__title, .header-news__link:active .header-news__title {
  color: #FFFFFF;
}
.header-news__date {
  color: #FFFFFF;
  margin-right: 8px;
}
.header-news__title {
  color: #8A8A8A;
}

.header-languages {
  display: flex;
  justify-content: flex-end;
}

.header-menu {
  display: none;
}
@media only screen and (min-width: 992px) {
  .header-menu {
    display: flex;
    flex: 1;
  }
}
.header-menu__item {
  display: inline-block;
  color: #8A8A8A;
  font-weight: 500;
  padding: 24px 16px;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .header-menu__item {
    font-size: 16px;
    padding: 41px 24px;
  }
}
.header-menu__item:hover, .header-menu__item:focus, .header-menu__item:active {
  color: #FFFFFF;
}
.header-menu__item.active {
  color: #FFFFFF;
}
.header-menu__item.active:before {
  background: #292929;
  transform: scale(1);
}
.header-menu__item.active:after {
  opacity: 1;
  transform: scaleY(1);
}
.header-menu__item:before, .header-menu__item:after {
  content: "";
  display: block;
  position: absolute;
}
.header-menu__item:before {
  width: 32px;
  height: 32px;
  border-radius: 39.5833333333%;
  background: transparent;
  left: 0;
  top: 15%;
  transform: scale(0);
}
@media only screen and (min-width: 992px) {
  .header-menu__item:before {
    width: 40px;
    height: 40px;
    top: 24%;
    left: 4px;
  }
}
.header-menu__item:after {
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  background: #FFFFFF;
  height: 3px;
  transform-origin: bottom;
  transform: scaleY(0);
}
@media only screen and (min-width: 992px) {
  .header-menu__item:after {
    height: 4px;
  }
}
.header-menu__item span {
  position: relative;
}

.header-submenu {
  display: none;
  opacity: 0;
  transition: 0.15s ease-in-out;
}
.header-submenu.active {
  display: flex;
}
.header-submenu.show {
  opacity: 1;
}
.header-submenu__item:first-child .header-submenu__item-title {
  margin-left: 8px;
}
@media only screen and (min-width: 1200px) {
  .header-submenu__item:first-child .header-submenu__item-title {
    margin-left: 4px;
  }
}
@media only screen and (min-width: 1600px) {
  .header-submenu__item:first-child .header-submenu__item-title {
    margin-left: -12px;
  }
}
.header-submenu__item:last-child .header-submenu__item-title:before {
  content: none;
}
.header-submenu__item-title {
  display: inline-flex;
  padding: 0 8px;
  font-weight: 500;
  color: #8A8A8A;
  position: relative;
  white-space: nowrap;
  line-height: 1;
}
.header-submenu__item-title span {
  display: inline-block;
  height: 100%;
  padding: 20px 8px;
  position: relative;
}
.header-submenu__item-title span:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: transparent;
}
@media only screen and (min-width: 1200px) {
  .header-submenu__item-title span {
    padding: 22px 8px;
  }
}
@media only screen and (min-width: 1600px) {
  .header-submenu__item-title span {
    padding: 22px 12px;
  }
}
.header-submenu__item-title:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background: #EDEDED;
  position: absolute;
  right: -2px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-2px);
}
@media only screen and (min-width: 1200px) {
  .header-submenu__item-title {
    padding: 0 12px;
  }
}
@media only screen and (min-width: 1600px) {
  .header-submenu__item-title {
    padding: 0 24px;
  }
}
.header-submenu__item-title:hover, .header-submenu__item-title:focus, .header-submenu__item-title:active {
  color: #1E1E1E;
}
.header-submenu__item-title:hover span:after, .header-submenu__item-title:focus span:after, .header-submenu__item-title:active span:after {
  background: #1E1E1E;
}
.header-submenu__item-title.special {
  color: #CF5151;
}
.header-submenu__item-content {
  position: absolute;
  z-index: 999;
  left: 0;
  top: calc(100% + 1px);
  width: 100%;
  background: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 300ms, transform 0s ease 300ms, opacity 150ms ease 150ms;
  transform: scaleY(0);
}
.header-submenu__item-content:after {
  content: "";
  display: block;
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(30, 30, 30, 0.9);
  pointer-events: none;
}
.header-submenu__item:hover .header-submenu__item-content, .header-submenu__item:focus .header-submenu__item-content, .header-submenu__item:active .header-submenu__item-content {
  transform: scaleY(1);
  visibility: visible;
  transition: visibility 0s linear 150ms, transform 0s ease 150ms, opacity 150ms ease 150ms;
  opacity: 1;
}

.header-search {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 0 16px;
  margin-left: 48px;
  background: #EDEDED;
}
@media only screen and (min-width: 1200px) {
  .header-search {
    width: 300px;
  }
}
@media only screen and (min-width: 1600px) {
  .header-search {
    width: 351px;
  }
}
.header-search__icon {
  background: transparent;
  padding: 0;
  display: inline-flex;
  margin-right: 16px;
}
.header-search__icon svg {
  width: 18px;
  height: 18px;
}
.header-search__field {
  width: 100%;
  background: transparent;
  font-weight: 500;
  color: #8A8A8A;
}

.header-floated-search {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -1px;
  border-bottom: 1px solid #C9C9C9;
  background: #EDEDED;
  visibility: hidden;
  transform: translateY(-100%);
  opacity: 0;
  transition: visibility 0s linear 0.15s, transform 0.15s ease 0s, opacity 0.15s ease 0s;
}
@media only screen and (min-width: 992px) {
  .header-floated-search {
    display: none !important;
  }
}
.header-floated-search.active {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  transition: visibility 0s linear 0s, transform 0.15s ease 0s, opacity 0.15s ease 0s;
}
.header-floated-search .container {
  height: 100%;
}
.header-floated-search__content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-floated-search__close, .header-floated-search__icon {
  display: inline-flex;
  background: none;
  padding: 0;
  color: #000000;
}
.header-floated-search__close svg, .header-floated-search__icon svg {
  width: 18px;
  height: 18px;
}
@media only screen and (min-width: 640px) {
  .header-floated-search__close svg, .header-floated-search__icon svg {
    width: 22px;
    height: 22px;
  }
}
.header-floated-search__icon {
  margin-right: 16px;
}
@media only screen and (min-width: 480px) {
  .header-floated-search__icon {
    margin-right: 24px;
  }
}
.header-floated-search__close {
  margin-left: 16px;
}
@media only screen and (min-width: 480px) {
  .header-floated-search__close {
    margin-left: 24px;
  }
}
.header-floated-search__field {
  height: 100%;
  flex: 1;
  background: transparent;
  font-weight: 500;
  color: #8A8A8A;
}

.header-logo {
  margin: 0 16px;
}
@media only screen and (min-width: 480px) {
  .header-logo {
    flex: 2;
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .header-logo {
    margin: 0;
    flex: none;
  }
}
.header-logo__link {
  display: inline-block;
}
.header-logo .logo {
  font-size: 20px;
}
@media only screen and (min-width: 640px) {
  .header-logo .logo {
    font-size: 32px;
  }
}
@media only screen and (min-width: 992px) {
  .header-logo .logo {
    font-size: 40px;
  }
}

.header-controls {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 480px) {
  .header-controls {
    flex: 1;
    justify-content: flex-end;
  }
}
.header-controls__item {
  display: flex;
  align-items: center;
  margin-left: 16px;
  color: #FFFFFF;
}
@media only screen and (min-width: 640px) {
  .header-controls__item {
    margin-left: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .header-controls__item {
    margin-left: 32px;
  }
}
.header-controls__item:first-child {
  margin-left: 0;
}
.header-controls__item-icon {
  display: inline-flex;
}
.header-controls__item-icon.menu {
  width: 18px;
  height: 18px;
  position: relative;
}
@media only screen and (min-width: 640px) {
  .header-controls__item-icon.menu {
    width: 22px;
    height: 22px;
  }
}
.header-controls__item-icon.menu:hover, .header-controls__item-icon.menu:focus, .header-controls__item-icon.menu:active {
  color: #FFFFFF;
}
.header-controls__item-icon.menu svg.times {
  transform: scale(0);
  opacity: 0;
}
.header-controls__item-icon.menu.active svg.bars {
  transform: scale(0);
  opacity: 0;
}
.header-controls__item-icon.menu.active svg.times {
  transform: scale(1);
  opacity: 1;
}
.header-controls__item-icon svg {
  width: 18px;
  height: 18px;
}
@media only screen and (min-width: 640px) {
  .header-controls__item-icon svg {
    width: 22px;
    height: 22px;
  }
}
@media only screen and (min-width: 992px) {
  .header-controls__item-icon svg {
    width: 24px;
    height: 24px;
  }
}
.header-controls__item-text {
  display: none;
  font-weight: 500;
  font-size: 13px;
  margin-left: 6px;
}
@media only screen and (min-width: 992px) {
  .header-controls__item-text {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .header-controls__item-text {
    font-size: 15px;
  }
}
.header-controls__item:hover, .header-controls__item:focus, .header-controls__item:active {
  color: #8A8A8A;
}
.header-controls__item#header-account {
  display: none;
}
@media only screen and (min-width: 480px) {
  .header-controls__item#header-account {
    display: inline-flex;
  }
}
@media only screen and (min-width: 992px) {
  .header-controls__item#header-bars {
    display: none;
  }
}

.header-mobile-controls {
  justify-content: flex-start;
}
@media only screen and (min-width: 992px) {
  .header-mobile-controls {
    display: none;
  }
}

.submenu {
  padding: 32px 0;
  display: flex;
}
@media only screen and (min-width: 1200px) {
  .submenu {
    padding: 40px 0;
  }
}
.submenu__column {
  flex: 1;
  margin-left: 24px;
}

.submenu-list__title {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  margin: 0 0 16px;
  text-transform: uppercase;
  color: #8A8A8A;
}
@media only screen and (min-width: 1200px) {
  .submenu-list__title {
    font-size: 14px;
    margin-bottom: 16px;
  }
}
.submenu-list__item-link {
  font-weight: 500;
  color: #1E1E1E;
  line-height: 2.1;
  padding: 1px 0;
  background: linear-gradient(#1E1E1E, #1E1E1E) 0 100% no-repeat;
  background-size: 0 1px;
}
.submenu-list__item-link:hover, .submenu-list__item-link:focus, .submenu-list__item-link:active {
  background-size: 100% 1px;
}

.submenu-best {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
.submenu-best__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
  color: #1E1E1E;
}
@media only screen and (min-width: 1600px) {
  .submenu-best__content {
    padding: 32px;
  }
}
.submenu-best__title {
  font-family: "Lora", system-ui, BlinkMacSystemFont, -apple-system, serif;
  font-size: 24px;
}
@media only screen and (min-width: 1200px) {
  .submenu-best__title {
    font-size: 32px;
  }
}
@media only screen and (min-width: 1600px) {
  .submenu-best__title {
    font-size: 40px;
  }
}
.submenu-best__button .btn {
  padding: 12px 24px;
}
@media only screen and (min-width: 1200px) {
  .submenu-best__button .btn {
    padding: 16px 32px;
  }
}

.loader {
  position: relative;
  color: transparent;
}
.loader:before {
  content: "";
  position: absolute;
  z-index: 998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
}
.loader:after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid;
  box-sizing: border-box;
  border-color: #FFFFFF #FFFFFF #1E1E1E #1E1E1E;
  -webkit-animation: spinner 0.6s infinite linear;
          animation: spinner 0.6s infinite linear;
}
@media only screen and (min-width: 768px) {
  .loader:after {
    margin-left: -20px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
  }
}
@-webkit-keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader.loader-btn:before {
  background: #1e1e1e;
}
.loader.loader-btn:after {
  border-width: 2px;
  margin-left: -8px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  border-color: #FFFFFF #FFFFFF #1E1E1E #1E1E1E;
}
@media only screen and (min-width: 768px) {
  .loader.loader-btn:after {
    margin-left: -13px;
    margin-top: -13px;
    width: 26px;
    height: 26px;
  }
}
.loader--circle:before {
  border-radius: 50%;
}
.loader--without-bg:before {
  content: none;
}

@media only screen and (min-width: 480px) {
  .home-builder {
    display: flex;
  }
}
.home-builder__item {
  flex: 1;
  margin-bottom: 16px;
}
@media only screen and (min-width: 480px) {
  .home-builder__item {
    margin-right: 8px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 640px) {
  .home-builder__item {
    margin-right: 16px;
  }
}
.home-builder__item:last-child {
  margin-right: 0;
}
.home-builder__link {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
  overflow: hidden;
}
.home-builder__link img {
  -o-object-position: top;
     object-position: top;
}
@media only screen and (min-width: 480px) {
  .home-builder__link {
    padding-bottom: 156.25%;
  }
  .home-builder__link img {
    -o-object-position: center;
       object-position: center;
  }
}
@media only screen and (min-width: 992px) {
  .home-builder__link {
    background: #C9C9C9;
  }
  .home-builder__link:hover .home-builder__title, .home-builder__link:focus .home-builder__title, .home-builder__link:active .home-builder__title {
    opacity: 1;
    transform: scale(1);
  }
}
.home-builder__title {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  font-family: "Lora", system-ui, BlinkMacSystemFont, -apple-system, serif;
  background: rgba(30, 30, 30, 0.72);
  transform: scale(1.25);
}
@media only screen and (min-width: 480px) {
  .home-builder__title {
    font-size: 3vw;
  }
}
@media only screen and (min-width: 768px) {
  .home-builder__title {
    font-size: 24px;
  }
}
@media only screen and (min-width: 992px) {
  .home-builder__title {
    opacity: 0;
    font-size: 36px;
  }
}
@media only screen and (min-width: 1200px) {
  .home-builder__title {
    font-size: 48px;
  }
}

.ins {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 640px) {
  .ins {
    margin-left: -12px;
    margin-right: -12px;
  }
}
.ins__item {
  width: 50%;
}
@media only screen and (min-width: 480px) {
  .ins__item {
    width: 25%;
  }
}
@media only screen and (min-width: 640px) {
  .ins__item {
    width: calc(25% - 24px);
    margin: 0 12px 24px;
  }
  .ins__item:last-child {
    margin-right: 0;
  }
}
.ins__item-link {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  color: #FFFFFF;
  overflow: hidden;
}
.ins__item-likes {
  opacity: 0;
  background: rgba(30, 30, 30, 0.72);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.ins__item:hover .ins__item-likes, .ins__item:focus .ins__item-likes, .ins__item:active .ins__item-likes {
  opacity: 1;
}

.section-subtitle {
  text-align: center;
  text-transform: uppercase;
  color: #8A8A8A;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 992px) {
  .section-subtitle {
    font-size: 14px;
  }
}
.section-title {
  font-family: "Lora", system-ui, BlinkMacSystemFont, -apple-system, serif;
  font-weight: 400;
  text-align: center;
  color: #1E1E1E;
  margin-bottom: 24px;
  position: relative;
}
.section-title:before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: #EDEDED;
}
.section-title span {
  position: relative;
  background: #FFFFFF;
  padding: 0 1em;
}
.section-title--instagram span:before {
  content: "#";
  color: #C9C9C9;
}
@media only screen and (min-width: 480px) {
  .section-title {
    font-size: 26px;
  }
}
@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 32px;
  }
}
@media only screen and (min-width: 992px) {
  .section-title {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .section-title {
    font-size: 48px;
    margin-bottom: 48px;
  }
}
.section--mt {
  margin-top: 32px;
}
@media only screen and (min-width: 992px) {
  .section--mt {
    margin-top: 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .section--mt {
    margin-top: 64px;
  }
}
@media only screen and (min-width: 1600px) {
  .section--mt {
    margin-top: 96px;
  }
}
.section--mb {
  margin-bottom: 32px;
}
@media only screen and (min-width: 992px) {
  .section--mb {
    margin-bottom: 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .section--mb {
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1600px) {
  .section--mb {
    margin-bottom: 96px;
  }
}
.section--dark {
  background: #1E1E1E;
  color: rgba(255, 255, 255, 0.88);
}
.section--bb {
  border-bottom: 1px solid #303030;
}

.category-card {
  width: 100%;
  height: 0;
  padding-bottom: 152.5885558583%;
  position: relative;
  display: block;
}
.category-card__content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(30, 30, 30, 0.24);
  font-weight: 500;
}
@media only screen and (min-width: 1200px) {
  .category-card__content {
    padding: 32px;
    align-items: flex-start;
    justify-content: flex-end;
  }
}
.category-card__title, .category-card__count {
  transform-origin: left;
}
.category-card__title {
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 0.6em;
}
@media only screen and (min-width: 380px) {
  .category-card__title {
    font-size: 18px;
  }
}
@media only screen and (min-width: 480px) {
  .category-card__title {
    font-size: 20px;
  }
}
.category-card__count {
  color: rgba(255, 255, 255, 0.48);
}
@media only screen and (min-width: 380px) {
  .category-card__count {
    font-size: 12px;
  }
}
@media only screen and (min-width: 480px) {
  .category-card__count {
    font-size: 14px;
  }
}
.category-card:hover .category-card__content, .category-card:focus .category-card__content, .category-card:active .category-card__content {
  background: rgba(30, 30, 30, 0.48);
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 0;
  margin-bottom: -32px;
}
@media only screen and (min-width: 768px) {
  .advantages {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 992px) {
  .advantages {
    padding: 48px 0;
  }
}
.advantages__item {
  width: 50%;
  text-align: center;
  padding: 0 16px;
  font-size: 12px;
  margin-bottom: 32px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .advantages__item {
    width: 25%;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 992px) {
  .advantages__item {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .advantages__item {
    font-size: 16px;
  }
  .advantages__item:after {
    content: "";
    display: block;
    width: 1px;
    height: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    background: #303030;
  }
  .advantages__item:last-child:after {
    content: none;
  }
}
.advantages__item-icon {
  position: relative;
  margin-bottom: 12px;
  padding-left: 12px;
}
.advantages__item-icon:before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 39.5833333333%;
  background: #292929;
  position: absolute;
  bottom: calc(50% - 48px + 12px);
  left: calc(50% - 48px + 12px);
}
.advantages__item-icon svg {
  width: 48px;
  height: 48px;
  position: relative;
}
.advantages__item-title {
  font-weight: 500;
  color: #FFFFFF;
  padding: 8px 0;
}
@media only screen and (min-width: 992px) {
  .advantages__item-title {
    padding-bottom: 16px;
  }
}
.advantages__item-text {
  color: #8A8A8A;
}

.subscription {
  padding: 16px 0;
}
@media only screen and (min-width: 640px) {
  .subscription {
    display: flex;
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  .subscription {
    padding: 32px 0;
  }
}
@media only screen and (min-width: 640px) {
  .subscription__text, .subscription__form {
    flex: 1;
  }
}
.subscription__text {
  text-align: center;
  font-weight: 500;
  color: #FFFFFF;
}
@media only screen and (min-width: 640px) {
  .subscription__text {
    text-align: left;
    margin-right: 32px;
  }
}
@media only screen and (min-width: 992px) {
  .subscription__text {
    font-size: 18px;
    margin-right: 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .subscription__text {
    font-size: 20px;
    margin-right: 64px;
  }
}
.subscription__form {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #303030;
  padding: 4px 0;
  font-weight: 500;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}
@media only screen and (min-width: 640px) {
  .subscription__form {
    margin-top: 0;
    max-width: none;
    padding: 8px 0;
  }
}
@media only screen and (min-width: 992px) {
  .subscription__form {
    font-size: 14px;
    padding: 12px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .subscription__form {
    font-size: 16px;
    padding: 16px 0;
  }
}
.subscription__form input, .subscription__form button {
  background: none;
  border: none;
}
.subscription__form input {
  width: 100%;
  margin-right: 16px;
  outline: none;
  color: #8A8A8A;
}
.subscription__form button {
  padding: 0;
  color: #FFFFFF;
}

.logo {
  display: block;
  font-family: "Lora", system-ui, BlinkMacSystemFont, -apple-system, serif;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  line-height: 1;
}
@media only screen and (min-width: 992px) {
  .logo {
    font-size: 40px;
  }
}

.btn {
  background: transparent;
  border: none;
  font-weight: 500;
  font-size: 12px;
  padding: 10px 16px;
  line-height: 1;
  outline: none;
  color: #1E1E1E;
  position: relative;
  transform: perspective(1px);
}
.btn:before, .btn:after {
  content: "";
}
.btn:before {
  z-index: -1;
  background: #1E1E1E;
  transform: scaleY(0);
  transform-origin: bottom;
}
.btn:after {
  z-index: -2;
  border: 1px solid;
  border-color: #C9C9C9 #C9C9C9 #1E1E1E #C9C9C9;
}
.btn:hover {
  color: #FFFFFF;
}
.btn:hover:before {
  transform: scaleY(1);
}
.btn:focus:after {
  border-color: #1E1E1E;
}
.btn.btn-light {
  color: #FFFFFF;
}
.btn.btn-light:after {
  border-color: rgba(255, 255, 255, 0.16) rgba(255, 255, 255, 0.16) #FFFFFF rgba(255, 255, 255, 0.16);
}
.btn.btn-light:before {
  background: #FFFFFF;
}
.btn.btn-light:hover, .btn.btn-light:focus, .btn.btn-light:active {
  color: #1E1E1E;
}
@media only screen and (min-width: 992px) {
  .btn {
    padding: 16px 32px;
    font-size: 14px;
  }
}

.btn-container {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.dropdown {
  display: inline-block;
}
.dropdown__header {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.dropdown__header:after {
  content: "";
  width: 10px;
  height: 6px;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgOCA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNC42NTQ2NSA0LjQzMzA1QzQuMjc4ODggNC43NTg0OCAzLjcyMTEyIDQuNzU4NDggMy4zNDUzNSA0LjQzMzA1TDAuODMxNDE3IDIuMjU1OTNDMC4xMzE1MTQgMS42NDk3OSAwLjU2MDE4OCAwLjUgMS40ODYwNyAwLjVMNi41MTM5MyAwLjUwMDAwMUM3LjQzOTgxIDAuNTAwMDAxIDcuODY4NDggMS42NDk4IDcuMTY4NTggMi4yNTU5M0w0LjY1NDY1IDQuNDMzMDVaIiBmaWxsPSJ3aGl0ZSIgZmlsbC1vcGFjaXR5PSIwLjQ4Ii8+Cjwvc3ZnPgo=") no-repeat;
  background-size: contain;
  margin-left: 8px;
}
.dropdown__content {
  display: none;
}
.dropdown.active .dropdown__header:after {
  transform: rotate(180deg);
}

.languages-dropdown__item {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  line-height: 1;
}
.languages-dropdown__text {
  padding-top: 2px;
  margin-left: 8px;
}

.location {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  color: #8A8A8A;
}
.location__region {
  display: flex;
  align-items: center;
}
.location__region-flag {
  margin-right: 8px;
  margin-top: -3px;
  width: 20px;
}
.location__language:before, .location__currency:before {
  content: "|";
  font-weight: 400;
  margin: 0 8px;
  color: rgba(255, 255, 255, 0.16);
}
@media only screen and (min-width: 1600px) {
  .location__language:before, .location__currency:before {
    margin: 0 16px;
  }
}
.location:hover, .location:focus, .location:active {
  color: #FFFFFF;
}

.mm {
  position: fixed;
  left: 0;
  right: 0;
  top: 55px;
  bottom: 0;
  background: #FFFFFF;
  z-index: 999;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  transform: translateX(-100%);
  transition: visibility 0s linear 0.3s, transform 0.3s ease 0s;
}
.mm.active {
  visibility: visible;
  transform: translateX(0);
  transition: visibility 0s linear 0s, transform 0.3s ease 0s;
}
@media only screen and (min-width: 640px) {
  .mm {
    top: 65px;
  }
}
@media only screen and (min-width: 992px) {
  .mm {
    display: none;
  }
}
.mm__header {
  background: #1E1E1E;
  color: #8A8A8A;
}
.mm__header-content {
  text-align: center;
}
.mm__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mm__tabs-item {
  color: #8A8A8A;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 24px;
  position: relative;
}
.mm__tabs-item:hover, .mm__tabs-item:focus, .mm__tabs-item:active {
  color: #FFFFFF;
}
.mm__tabs-item.active {
  color: #FFFFFF;
}
.mm__tabs-item.active:before {
  background: #292929;
  transform: scale(1);
}
.mm__tabs-item.active:after {
  opacity: 1;
  transform: scaleY(1);
}
.mm__tabs-item:before, .mm__tabs-item:after {
  content: "";
  display: block;
  position: absolute;
}
.mm__tabs-item:before {
  width: 32px;
  height: 32px;
  border-radius: 39.5833333333%;
  background: transparent;
  left: 0;
  top: 15%;
  transform: scale(0);
}
.mm__tabs-item:after {
  right: 0;
  bottom: -1px;
  width: 100%;
  opacity: 0;
  background: #FFFFFF;
  height: 3px;
  transform-origin: bottom;
  transform: scaleY(0);
}
.mm__tabs-item span {
  position: relative;
}
.mm__content {
  flex: 1;
  overflow: hidden;
  text-align: justify;
}
.mm__menus {
  display: flex;
  width: 300vw;
  height: 100%;
  transform: translateX(0);
}
.mm__menus.men {
  transform: translateX(-33.3333333333%);
}
.mm__menus.kids {
  transform: translateX(-66.6666666666%);
}
.mm__menu {
  width: 100vw;
  overflow-y: auto;
}
.mm__menu::-webkit-scrollbar {
  width: 3px;
}
.mm__menu::-webkit-scrollbar-track {
  background: #FFFFFF;
}
.mm__menu::-webkit-scrollbar-thumb {
  background: #1E1E1E;
}
.mm__menu-item, .mm__menu-subitem, .mm__menu-category {
  color: #1E1E1E;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  display: block;
}
.mm__menu-item {
  border-top: 1px solid #EDEDED;
}
.mm__menu-item {
  padding: 16px;
}
.mm__menu-item.account {
  background: #EDEDED;
  border-top-color: #EDEDED;
}
.mm__menu-item.special {
  color: #CF5151;
}
.mm__menu-category.subcategory .mm__menu-category-title {
  padding-left: 32px;
  text-transform: uppercase;
}
.mm__menu-category.subcategory .mm__menu-category-list li:first-child {
  padding-top: 8px;
  border-top: 1px solid #EDEDED;
}
.mm__menu-category.subcategory .mm__menu-category-list li:last-child {
  padding-bottom: 8px;
}
.mm__menu-category-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0s ease 0.15s;
}
.mm__menu-category-title.active {
  transition: 0s ease 0s;
}
.mm__menu-category-title.active:after {
  transform: rotate(0deg);
}
.mm__menu-category-title:after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuNjY2NjkgNy4yOTE2Nkw1LjAwMDAyIDMuOTU4MzJMOC4zMzMzNSA3LjI5MTY2TDguOTIyNzMgNi43MDI0OUw1LjU4OTE5IDMuMzY5MTZMNS4wMDAwMiAyLjc3OTk5TDQuNDEwODUgMy4zNjkxNkwxLjA3NzUyIDYuNzAyNDlMMS42NjY2OSA3LjI5MTY2WiIgZmlsbD0iIzFFMUUxRSIvPgo8L3N2Zz4K") 50% no-repeat;
  transform: rotate(180deg);
}
.mm__menu-category-list {
  max-height: 0;
  overflow: hidden;
  transition: 0.15s ease-in-out;
}
.mm__menu-subitem {
  padding: 8px 16px 8px 32px;
}
.mm__footer-content {
  padding: 16px 0;
}
.mm__footer-content .location {
  justify-content: center;
}
.mm__footer-content .location__language:before, .mm__footer-content .location__currency:before {
  color: rgba(30, 30, 30, 0.16);
}
.mm__footer-content .location:hover, .mm__footer-content .location:focus, .mm__footer-content .location:active {
  color: #1E1E1E;
}

.slider-container {
  position: relative;
}
.slider-container .tns-nav {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.slider-container .tns-nav button {
  width: 8px;
  height: 8px;
  border: none;
  margin-right: 8px;
  padding: 0;
  border-radius: 50%;
  outline: none;
  background: #C9C9C9;
}
.slider-container .tns-nav button.tns-nav-active {
  background: #1E1E1E;
}
.slider-container .tns-nav button:last-child {
  margin-right: 0;
}

.slider__controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  transform: translateY(-50%);
}
.slider__arrow {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  outline: none;
  pointer-events: all;
  border: none;
  cursor: pointer;
  background: transparent;
  transition: all 150ms ease-in-out;
  color: #939393;
}
.slider__arrow-next {
  transform: rotate(180deg);
}
.slider__arrow-svg {
  width: 100%;
  height: 100%;
}
.slider__arrow:hover, .slider__arrow:focus, .slider__arrow:active {
  color: #1E1E1E;
}

.promotions-slider-container button[data-action=start], .promotions-slider-container button[data-action=stop] {
  display: none;
}
.promotions-slider-container .tns-nav {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  margin-top: 0;
}
@media only screen and (min-width: 1600px) {
  .promotions-slider-container .tns-nav {
    bottom: 24px;
  }
}
.promotions-slider-container .tns-nav button {
  border-radius: 0;
  background: transparent;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.promotions-slider-container .tns-nav button:after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  margin: 0 auto;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.48);
}
.promotions-slider-container .tns-nav button:hover:after, .promotions-slider-container .tns-nav button:focus:after, .promotions-slider-container .tns-nav button:active:after {
  background: #FFFFFF;
}
@media only screen and (min-width: 1600px) {
  .promotions-slider-container .tns-nav button {
    margin-right: 12px;
  }
}
.promotions-slider-container .tns-nav button.tns-nav-active {
  background: transparent;
}
.promotions-slider-container .tns-nav button.tns-nav-active:after {
  background: #FFFFFF;
  transform: scale(2);
}

.promotions-slider-controls {
  pointer-events: none;
  padding: 0 8px;
}
@media only screen and (min-width: 640px) {
  .promotions-slider-controls {
    padding: 0 16px;
  }
}
.promotions-slider-controls .container {
  position: relative;
  height: 100%;
}
.promotions-slider-controls .slider__arrow {
  pointer-events: all;
  border: 1px solid rgba(255, 255, 255, 0.48);
  width: 24px;
  height: 24px;
}
@media only screen and (min-width: 992px) {
  .promotions-slider-controls .slider__arrow {
    width: 32px;
    height: 32px;
  }
}
@media only screen and (min-width: 1600px) {
  .promotions-slider-controls .slider__arrow {
    width: 40px;
    height: 40px;
  }
}
.promotions-slider-controls .slider__arrow-svg {
  width: 31.6%;
  height: 31.6%;
  color: #FFFFFF;
}
.promotions-slider-controls .slider__arrow:hover, .promotions-slider-controls .slider__arrow:focus, .promotions-slider-controls .slider__arrow:active {
  border-color: #FFFFFF;
}

.promotion-slide {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media only screen and (min-width: 640px) {
  .promotion-slide {
    padding-bottom: 40%;
  }
}
.promotion-slide__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 32px;
  right: 32px;
  bottom: 0;
}
.promotion-slide__content-container {
  background: rgba(30, 30, 30, 0.48);
}
.promotion-slide__content-container .container {
  height: 100%;
}
.promotion-slide__content {
  height: 100%;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  position: relative;
}
@media only screen and (min-width: 640px) {
  .promotion-slide__content {
    padding: 32px;
  }
}
@media only screen and (min-width: 992px) {
  .promotion-slide__content {
    padding: 32px 96px;
  }
}
.promotion-slide__count {
  position: absolute;
  top: 16px;
  left: 0;
  display: none;
  line-height: 1;
  font-size: 24px;
}
@media only screen and (min-width: 640px) {
  .promotion-slide__count {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  .promotion-slide__count {
    top: 32px;
    font-size: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  .promotion-slide__count {
    top: 48px;
  }
}
@media only screen and (min-width: 1600px) {
  .promotion-slide__count {
    font-size: 32px;
    top: 64px;
  }
}
.promotion-slide__count-current {
  font-size: 1em;
}
.promotion-slide__count-all {
  font-size: 0.5em;
}
.promotion-slide__subtitle {
  font-size: 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.48);
}
@media only screen and (min-width: 640px) {
  .promotion-slide__subtitle {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1600px) {
  .promotion-slide__subtitle {
    font-size: 14px;
  }
}
.promotion-slide__title {
  font-family: "Lora", system-ui, BlinkMacSystemFont, -apple-system, serif;
  font-size: 22px;
  line-height: 1.2;
  margin: 0.2em 0 0.75em;
}
@media only screen and (min-width: 380px) {
  .promotion-slide__title {
    font-size: 28px;
  }
}
@media only screen and (min-width: 480px) {
  .promotion-slide__title {
    font-size: 6.5vw;
  }
}
@media only screen and (min-width: 640px) {
  .promotion-slide__title {
    font-size: 6vw;
  }
}
@media only screen and (min-width: 768px) {
  .promotion-slide__title {
    font-size: 48px;
  }
}
@media only screen and (min-width: 992px) {
  .promotion-slide__title {
    font-size: 56px;
  }
}
@media only screen and (min-width: 1200px) {
  .promotion-slide__title {
    font-size: 64px;
  }
}
@media only screen and (min-width: 1600px) {
  .promotion-slide__title {
    font-size: 80px;
  }
}
.promotion-slide__button {
  display: inline-flex;
}

@media only screen and (min-width: 768px) {
  .slider-container {
    padding: 0 28px;
    margin-left: -28px;
    margin-right: -28px;
  }
}
@media only screen and (min-width: 992px) {
  .products-slider .slider__controls {
    height: 327px;
    top: 0;
    transform: none;
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  .slider-container {
    padding: 0 34px;
    margin-left: -34px;
    margin-right: -34px;
  }

  .products-slider .slider__controls {
    height: 378px;
  }
}
@media only screen and (min-width: 1600px) {
  .products-slider .slider__controls {
    height: 526.5px;
  }
}
.product-card {
  font-weight: 500;
}
.product-card__content {
  width: 100%;
  height: 0;
  padding-bottom: 150%;
  position: relative;
  background: #EDEDED;
  margin-bottom: 12px;
}
.product-card__image {
  overflow: hidden;
  background-size: cover;
}
.product-card__image img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease;
}
@media only screen and (max-width: 992px) and (hover: none) and (pointer: coarse) {
  .product-card__image-secondary {
    display: none;
  }
}
.product-card__informers {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}
.product-card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-card__label {
  text-transform: uppercase;
}
.product-card__like {
  padding: 0;
  border: none;
  display: flex;
  background: transparent;
  position: relative;
  pointer-events: all;
  outline: none;
}
.product-card__like:hover .product-card__like-bordered {
  color: #515151;
}
.product-card__like.active .product-card__like-bordered {
  opacity: 0;
}
.product-card__like.active .product-card__like-filled {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
.product-card__like-bordered {
  width: 20px;
  height: 20px;
  opacity: 1;
}
.product-card__like-filled {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  opacity: 0;
  transform: scale(2);
  visibility: hidden;
}
.product-card__colors {
  display: flex;
  align-items: center;
}
.product-card__colors-list {
  display: flex;
}
.product-card__colors-item {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
}
.product-card__colors-text {
  padding-left: 4px;
  line-height: 1;
  font-size: 12px;
  color: #939393;
}
.product-card__title a, .product-card__subtitle a {
  color: #1E1E1E;
}
.product-card__title {
  font-size: 16px;
}
.product-card__subtitle {
  margin: 4px 0;
}
.product-card__price {
  color: #8A8A8A;
}
@media only screen and (min-width: 380px) {
  .product-card__title {
    font-size: 14px;
  }
  .product-card__subtitle, .product-card__price {
    font-size: 12px;
  }
  .product-card__subtitle {
    margin: 2px 0;
  }
}
@media only screen and (min-width: 768px) {
  .product-card__subtitle {
    margin: 6px 0;
  }
}
@media only screen and (min-width: 992px) {
  .product-card__subtitle {
    margin: 10px 0 6px;
  }
}
@media only screen and (min-width: 1200px) {
  .product-card__title {
    font-size: 16px;
  }
  .product-card__subtitle, .product-card__price {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1600px) {
  .product-card__content {
    margin-bottom: 16px;
  }
  .product-card__informers {
    padding: 32px;
  }
  .product-card__subtitle {
    margin: 16px 0 10px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.wrapper__footer {
  background: #1E1E1E;
  color: #FFFFFF;
}

.footer__main {
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
}
.footer__line {
  padding: 16px 0;
}
@media only screen and (min-width: 992px) {
  .footer__line {
    padding: 32px 0;
  }
}
@media only screen and (min-width: 480px) {
  .footer__top {
    text-align: center;
  }
}
@media only screen and (min-width: 640px) {
  .footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 768px) {
  .footer__phone, .footer__logo-container, .footer__socials {
    flex: 1;
  }
}
.footer__phone {
  font-size: 24px;
  padding-left: 8px;
  padding-top: 10px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .footer__phone {
    text-align: left;
    font-size: 18px;
    padding-top: 0;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 992px) {
  .footer__phone {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .footer__phone-number, .footer__phone-text {
    padding-left: 18px;
  }
}
.footer__phone-number {
  position: relative;
  line-height: 1;
  margin-bottom: 0.4em;
}
.footer__phone-number:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  transform: translate(-50%, -50%);
  border-radius: 39.5833333333%;
  background: #292929;
}
@media only screen and (min-width: 768px) {
  .footer__phone-number:before {
    width: 36px;
    height: 36px;
  }
}
@media only screen and (min-width: 992px) {
  .footer__phone-number:before {
    width: 48px;
    height: 48px;
  }
}
.footer__phone-number a {
  position: relative;
  color: #FFFFFF;
}
.footer__phone-number a:hover, .footer__phone-number a:focus, .footer__phone-number a:active {
  color: #8A8A8A;
}
.footer__phone-text {
  font-size: 12px;
  color: #8A8A8A;
}
@media only screen and (min-width: 992px) {
  .footer__phone-text {
    font-size: 14px;
  }
}
.footer__logo {
  display: none;
  color: #8A8A8A;
  text-align: center;
  margin: 16px 0;
}
@media only screen and (min-width: 768px) {
  .footer__logo {
    display: inline-block;
  }
}
.footer__logo-text {
  display: inline-block;
  font-size: 12px;
  color: #8A8A8A;
}
@media only screen and (min-width: 992px) {
  .footer__logo-text {
    font-size: 14px;
    padding-top: 4px;
  }
}
@media only screen and (min-width: 768px) {
  .footer__socials {
    text-align: right;
  }
}
.footer__socials a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #292929;
  width: 36px;
  height: 36px;
  border-radius: 39.5833333333%;
  color: #FFFFFF;
  margin-right: 8px;
}
@media only screen and (min-width: 992px) {
  .footer__socials a {
    width: 48px;
    height: 48px;
  }
}
.footer__socials a:last-child {
  margin-right: 0;
}
.footer__socials a:hover, .footer__socials a:focus, .footer__socials a:active {
  color: #8A8A8A;
}
.footer__socials a svg {
  width: 33.3333333333%;
  height: 33.3333333333%;
}
@media only screen and (min-width: 768px) {
  .footer__menu {
    display: flex;
  }
}
.footer__menu-column {
  margin-bottom: 16px;
}
.footer__menu-column:last-child {
  margin-bottom: 0;
}
.footer__menu-column:last-child .footer-menu:last-child {
  padding-bottom: 0;
}
.footer__menu-column:last-child .footer-menu:last-child:after {
  content: none;
}
@media only screen and (min-width: 768px) {
  .footer__menu-column {
    flex: 1;
    margin-bottom: 0;
    margin-right: 16px;
  }
  .footer__menu-column:last-child {
    margin-right: 0;
  }
}
@media only screen and (min-width: 992px) {
  .footer__menu-column {
    margin-right: 32px;
  }
}
.footer__copy {
  font-size: 12px;
  color: #8A8A8A;
  padding: 16px 0;
}
@media only screen and (min-width: 480px) {
  .footer__copy {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .footer__copy {
    font-size: 14px;
  }
}

.footer-menu {
  margin-bottom: 16px;
  padding-bottom: 16px;
  position: relative;
}
.footer-menu:after {
  display: block;
  content: "";
  position: absolute;
  left: -16px;
  right: -16px;
  top: 100%;
  height: 1px;
  background: #303030;
}
.footer-menu:last-child {
  margin-bottom: 0;
}
.footer-menu.active .footer-menu__title:after {
  transform: rotate(180deg);
}
@media only screen and (min-width: 768px) {
  .footer-menu {
    margin-bottom: 32px;
    padding-bottom: 0;
  }
  .footer-menu:after {
    content: none;
  }
}
.footer-menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  text-transform: uppercase;
  color: #8A8A8A;
}
.footer-menu__title:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOCA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNy4zMzMzNCAwLjcwODI1Mkw0LjAwMDAxIDQuMDQxNTlMMC42NjY2NzYgMC43MDgyNTJMMC4wNzczMDEgMS4yOTc0MkwzLjQxMDg0IDQuNjMwNzVMNC4wMDAwMSA1LjIxOTkyTDQuNTg5MTggNC42MzA3NUw3LjkyMjUxIDEuMjk3NDJMNy4zMzMzNCAwLjcwODI1MloiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=") 50% no-repeat;
}
@media only screen and (min-width: 768px) {
  .footer-menu__title:after {
    content: none;
  }
}
.footer-menu__items {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.15s ease, padding-top 0.15s linear;
}
@media only screen and (min-width: 768px) {
  .footer-menu__items {
    max-height: none;
  }
}
.footer-menu__item, .footer-menu__text {
  padding: 6px 0;
}
.footer-menu__item:first-child, .footer-menu__text:first-child {
  margin-top: 8px;
}
@media only screen and (min-width: 768px) {
  .footer-menu__item:first-child, .footer-menu__text:first-child {
    margin-top: 12px;
  }
}
@media only screen and (min-width: 992px) {
  .footer-menu__item:first-child, .footer-menu__text:first-child {
    margin-top: 16px;
  }
}
.footer-menu__item {
  display: block;
}
@media only screen and (min-width: 768px) {
  .footer-menu__item {
    display: block;
  }
}
.footer-menu__item:last-child .footer-menu__link {
  margin-right: 0;
}
.footer-menu__link {
  display: inline-block;
  color: #FFFFFF;
  font-weight: 500;
  white-space: nowrap;
  position: relative;
}
.footer-menu__link:after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 1px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left 0;
  background: rgba(255, 255, 255, 0.88);
}
.footer-menu__link:hover:after, .footer-menu__link:focus:after, .footer-menu__link:active:after {
  opacity: 1;
  transform: scaleX(1);
}

.promotion {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 112.3595505618%;
  position: relative;
  margin-bottom: 16px;
}
.promotion__content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: #FFFFFF;
  background: rgba(30, 30, 30, 0.48);
}
.promotion__content:hover, .promotion__content:focus, .promotion__content:active {
  background: rgba(30, 30, 30, 0.72);
}
.promotion__content-bottom {
  display: flex;
}
.promotion__description, .promotion__subtitle {
  color: rgba(255, 255, 255, 0.48);
}
.promotion__description {
  font-size: 10px;
  text-transform: uppercase;
}
.promotion__title {
  font-family: "Lora", system-ui, BlinkMacSystemFont, -apple-system, serif;
  font-size: 22px;
  letter-spacing: 0.05em;
  margin-bottom: 0.25em;
}
.promotion__subtitle {
  font-size: 12px;
}

@media only screen and (min-width: 380px) {
  .promotion__title {
    font-size: 28px;
  }
  .promotion__subtitle {
    font-size: 14px;
  }
  .promotion__description {
    font-size: 12px;
  }
}
@media only screen and (min-width: 480px) {
  .promotions {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -16px;
  }
  .promotions__item {
    width: calc(50% - 16px);
    margin: 0 8px;
  }

  .promotion__title {
    font-size: 18px;
  }
  .promotion__subtitle {
    font-size: 12px;
  }
  .promotion__description {
    font-size: 10px;
  }
}
@media only screen and (min-width: 640px) {
  .promotion__title {
    font-size: 24px;
  }
  .promotion__subtitle {
    font-size: 14px;
  }
  .promotion__description {
    font-size: 12px;
  }
}
@media only screen and (min-width: 992px) {
  .promotions {
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -32px;
  }
  .promotions__item {
    width: calc(50% - 32px);
    margin: 0 16px;
  }

  .promotion {
    margin-bottom: 32px;
  }
  .promotion__content {
    padding: 32px;
  }
  .promotion__title {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1600px) {
  .promotions {
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: -80px;
  }
  .promotions__item {
    width: calc(50% - 80px);
    margin: 0 40px;
  }

  .promotion {
    margin-bottom: 80px;
  }
  .promotion__content {
    padding: 64px;
  }
  .promotion__title {
    font-size: 48px;
  }
  .promotion__subtitle {
    font-size: 16px;
  }
  .promotion__description {
    font-size: 14px;
  }
}