<script>
	export default {
		name: "FooterComponent",
		data: () => {
			return {
				photos: [],
				isLoaded: false,
				loading: false
			}
		},
    methods: {
			toggleMenu: function (event) {
        if (window.innerWidth < 768) {
					event.preventDefault();

					let menu = event.currentTarget.parentNode;
					let list = event.currentTarget.nextElementSibling;

					menu.classList.toggle('active');

					if (list.style.maxHeight) {
						list.style.maxHeight = null;
					} else {
						list.style.maxHeight = list.scrollHeight + "px";
					}
        }
			}
    }
	};
</script>

<template>
  <div>
    <div class="wrapper__footer">
      <div class="container">
        <div class="footer__line footer__top">

          <div class="footer__phone">
            <div class="footer__phone-number"><a href="tel:+38 (050) 100 10 10">+38 (050) 100 10 10</a></div>
            <div class="footer__phone-text">Monday to Friday, 11am - 5pm</div>
          </div>

          <div class="footer__logo-container">
            <a href="#" class="footer__logo">
              <span class="logo">Millennium</span>
              <span class="footer__logo-text">eCommerce Template</span>
            </a>
          </div>

          <div class="footer__socials">
            <a href="#">
              <svg aria-label="Millennium in Facebook">
                <use xlink:href="#svg-icon-facebook"></use>
              </svg>
            </a>
            <a href="#">
              <svg aria-label="Millennium in Twitter">
                <use xlink:href="#svg-icon-twitter"></use>
              </svg>
            </a>
            <a href="#">
              <svg aria-label="Millennium in Instagram">
                <use xlink:href="#svg-icon-instagram"></use>
              </svg>
            </a>
            <a href="#">
              <svg aria-label="Millennium in Youtube">
                <use xlink:href="#svg-icon-youtube"></use>
              </svg>
            </a>
          </div>

        </div>
      </div>

      <div class="footer__main">
        <div class="container">
          <div class="footer__line footer__menu">
            <div class="footer__menu-column">
              <div class="footer-menu">
                <div class="footer-menu__title" @click="toggleMenu($event)">Account</div>
                <div class="footer-menu__items">
                  <div class="footer-menu__item">
                    <a class="footer-menu__link"
                       href="#">Orders</a>
                  </div>
                  <div class="footer-menu__item">
                    <a class="footer-menu__link"
                       href="#">Addresses</a>
                  </div>
                  <div class="footer-menu__item">
                    <a class="footer-menu__link"
                       href="#">Account details</a>
                  </div>
                  <div class="footer-menu__item">
                    <a class="footer-menu__link"
                       href="#">Wishlist</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer__menu-column">
              <div class="footer-menu">
                <div class="footer-menu__title" @click="toggleMenu($event)">For customers</div>
                <div class="footer-menu__items">
                  <div class="footer-menu__item">
                    <a class="footer-menu__link"
                       href="#">Contacts us</a>
                  </div>
                  <div class="footer-menu__item">
                    <a class="footer-menu__link"
                       href="#">Payment & Delivery</a>
                  </div>
                  <div class="footer-menu__item">
                    <a class="footer-menu__link"
                       href="#">Returns & Refunds</a>
                  </div>
                  <div class="footer-menu__item">
                    <a class="footer-menu__link"
                       href="#">Terms & Conditions</a>
                  </div>
                  <div class="footer-menu__item">
                    <a class="footer-menu__link"
                       href="#">Help & FAQs</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer__menu-column">
              <div class="footer-menu">
                <div class="footer-menu__title" @click="toggleMenu($event)">Millennium</div>
                <div class="footer-menu__items">
                  <div class="footer-menu__item">
                    <a class="footer-menu__link"
                       href="#">About us</a>
                  </div>
                  <div class="footer-menu__item">
                    <a class="footer-menu__link"
                       href="#">Stores</a>
                  </div>
                  <div class="footer-menu__item">
                    <a class="footer-menu__link"
                       href="#">Join the Team</a>
                  </div>
                  <div class="footer-menu__item">
                    <a class="footer-menu__link"
                       href="#">Privacy & Cookie policy</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer__menu-column">
              <div class="footer-menu">
                <div class="footer-menu__title" @click="toggleMenu($event)">Kyiv office</div>
                <div class="footer-menu__items">
                  <div class="footer-menu__text">Khreshchatyk St., 29/1, Kiev 80382 Ukraine</div>
                  <div class="footer-menu__text">+38 (050) 110 10 10</div>
                </div>
              </div>
              <div class="footer-menu">
                <div class="footer-menu__title" @click="toggleMenu($event)">Warsaw office</div>
                <div class="footer-menu__items">
                  <div class="footer-menu__text">Jana Pawla Avenue, 82, Warsaw 00-195, Poland</div>
                  <div class="footer-menu__text">+48 20 200 20 20</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="footer__copy">
          2020, Millennium - Premium eCommerce Template
        </div>
      </div>
    </div>
  </div>
</template>
