<script>
	export default {
		name: "HeaderComponent",
    components: {
			MobileMenu: () => ({component: import('./MobileMenu' /* webpackChunkName: "js/components/mobile-menu" */)}),
    },
		data: () => {
			return {
        wishList: 0,
        cart: 0,
        isOpenedMobileMenu: false,
        isOpenedMobileSearch: false,
			}
		},
    mounted() {
			this.initFloatedHeader();
			this.closeMobileMenu();

			// fetch('../data/products.json')
			// 	.then(response => response.json())
			// 	.then(json => console.log(json))
		},
    methods: {
			initFloatedHeader: function () {
        let c = 0, currentScrollTop = 0;
        let header = document.getElementById('header');

        window.addEventListener('scroll', () => {
          let scrollFromTop = window.scrollY;
          let headerHeight = header.offsetHeight;

          currentScrollTop = scrollFromTop;

          if (window.innerWidth >= 992) {
            if (currentScrollTop > (headerHeight - 5)) {
              header.style.transform = "translateY(-" + (headerHeight - 5) + "px)";
              header.classList.add('without-transition');
              setTimeout(function () {
                header.classList.add("fixed");
                header.classList.remove("without-transition");
              }, 1);
            } else {
              header.classList.remove("fixed");
              header.classList.add("without-transition");
              header.style.transform = "translateY(0px)";
            }
          } else {
            if (currentScrollTop > headerHeight && c < currentScrollTop) {
              header.style.transform = "translateY(-" + headerHeight + "px)";
              setTimeout(() => {
                header.classList.add("fixed")
              }, 1);
            } else {
              header.style.transform = "translateY(0px)";
            }
          }
          c = currentScrollTop;
        });

        header.addEventListener('mouseover', () => {
          if (header.classList.contains('fixed')) {
            header.style.transform = "translateY(0px)";
            header.classList.add('active');
          }
        });

        document.addEventListener('mouseover', (e) => {
          if (window.innerWidth >= 992) {
            if (!header.contains(e.target) && header.classList.contains('fixed')) {
              header.style.transform = "translateY(-" + (header.offsetHeight - 5) + "px)";
              header.classList.remove('active');
            } else {
              header.style.transform = "translateY(0px)";
            }
          }
        });
      },
      toggleHeaderSearch: function (e) {
        e.preventDefault();

        this.isOpenedMobileSearch = !this.isOpenedMobileSearch;

        let form = document.getElementById('header-floated-search');

        form.classList.toggle('active');
        form.querySelector('input').focus();
			},
      changeSubmenu: function (e, activeSubmenu) {
				e.preventDefault();

				let menus = document.querySelectorAll('.header-menu__item');
				let activeMenu = event.currentTarget;
				let submenus = document.querySelectorAll('.header-submenu');
				let desiredSubmenu = document.querySelector(`.header-submenu[data-submenu="${activeSubmenu}"]`);

				if (!activeMenu.classList.contains('active') && submenus) {
					menus.forEach(menu => menu.classList.remove('active'));

					submenus.forEach(item => item.classList.remove('show'));
					setTimeout(() => {
						submenus.forEach(item => item.classList.remove('active'));

						desiredSubmenu.classList.add('active');
						setTimeout(() => desiredSubmenu.classList.add('show'), 75);
          }, 75);

					activeMenu.classList.add('active');
        }
			},
      openMobileMenu: function () {
				this.isOpenedMobileMenu = !this.isOpenedMobileMenu;

        if (document.getElementById('mobile-menu') && window.innerWidth < 992) {
					document.body.classList.toggle('no-scroll');

					document.getElementById('mobile-menu').classList.toggle('active');
        }
			},
      closeMobileMenu: function () {
				window.addEventListener("orientationchange", function() {
					const mobileMenu = document.getElementById('mobile-menu');

					if (mobileMenu.classList.contains('active') && document.body.classList.contains('no-scroll')) {
						setTimeout(() => {
							if (window.innerWidth >= 992) {
								document.body.classList.remove('no-scroll');
								mobileMenu.classList.remove('active');
							}
            }, 1);
          }
				});
			}
    }
	};
</script>

<template>
  <div>
    <div class="header" id="header">
      <div class="header__top">
        <div class="container">
          <div class="header__top-content">
            <div class="header-phone">
              <a href="tel:+38 (050) 100 10 10">+38 (050) 100 10 10</a>
            </div>
            <div class="header-news">
              <a href="#" class="header-news__link">
                <time class="header-news__date" datetime="2020-02-05T11:00:00+03:00">February, 05</time>
                <span class="header-news__title">Free shipping over $150 & free 14-days return</span>
              </a>
            </div>
            <div class="header-languages">
              <a href="#" class="location">
                <span class="location__region">
                  <span class="location__region-flag">
                    <img src="images/flags-gb.png" alt="United Kingdom">
                  </span>
                  <span class="location__region-title">United Kingdom</span>
                </span>
                <span class="location__language">English</span>
                <span class="location__currency">USD</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="header__center">
        <div class="container">
          <div class="header__center-content">
            <div class="header-controls header-mobile-controls">
              <a class="header-controls__item"
                 id="header-bars"
                 @click="openMobileMenu">
                <div class="header-controls__item-icon menu" :class="{'active': isOpenedMobileMenu}">
                  <svg aria-label="Open mobile menu" class="bars">
                    <use xlink:href="#svg-icon-bars"></use>
                  </svg>
                  <svg aria-label="Close mobile menu" class="times">
                    <use xlink:href="#svg-icon-times"></use>
                  </svg>
                </div>
              </a>
              <a class="header-controls__item"
                 @click="toggleHeaderSearch">
                <div class="header-controls__item-icon">
                  <svg aria-label="Open search">
                    <use xlink:href="#svg-icon-search"></use>
                  </svg>
                </div>
              </a>
            </div>
            <div class="header-menu">
              <a class="header-menu__item active"
                 @click="changeSubmenu($event, 'women')"><span>Women</span></a>
              <a class="header-menu__item"
                 @click="changeSubmenu($event, 'men')"><span>Men</span></a>
              <a class="header-menu__item"
                 @click="changeSubmenu($event, 'kids')"><span>Kids</span></a>
            </div>
            <div class="header-logo">
              <a href="/" class="header-logo__link">
                <span class="logo">Millennium</span>
              </a>
            </div>
            <div class="header-controls">
              <a href="#"
                 class="header-controls__item"
                 id="header-likes-counter">
                <div class="header-controls__item-icon">
                  <svg aria-label="My wish list">
                    <use xlink:href="#svg-icon-like"></use>
                  </svg>
                </div>
                <div class="header-controls__item-text" v-cloak>{{ wishList }}</div>
              </a>
              <a href="#"
                 class="header-controls__item"
                 id="header-cart-counter">
                <div class="header-controls__item-icon">
                  <svg aria-label="My cart">
                    <use xlink:href="#svg-icon-cart"></use>
                  </svg>
                </div>
                <div class="header-controls__item-text" v-cloak>{{ cart }}</div>
              </a>
              <a href="#"
                 class="header-controls__item"
                 id="header-account">
                <div class="header-controls__item-icon">
                  <svg aria-label="My account">
                    <use xlink:href="#svg-icon-account"></use>
                  </svg>
                </div>
                <div class="header-controls__item-text">My account</div>
              </a>
            </div>
          </div>
        </div>
        <form class="header-floated-search" id="header-floated-search">
          <div class="container">
            <div class="header-floated-search__content">
              <button type="submit"
                      class="header-floated-search__icon">
                <svg aria-label="Search">
                  <use xlink:href="#svg-icon-search"></use>
                </svg>
              </button>
              <input type="search" class="header-floated-search__field" placeholder="Search for...">
              <button class="header-floated-search__close"
                      @click="toggleHeaderSearch">
                <svg aria-label="Close search">
                  <use xlink:href="#svg-icon-close"></use>
                </svg>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="header__bottom">
        <div class="container">
          <div class="header__bottom-content">
            <div class="header__bottom-submenus">
              <ul class="header-submenu active show" data-submenu="women">
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title special"><span>Sale</span></a>
                </li>
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title"><span>New in</span></a>
                  <div class="header-submenu__item-content">
                    <div class="container">
                      <div class="submenu">
                        <div class="submenu__column">
                          <div class="submenu-list">
                            <h6 class="submenu-list__title">Shop by category</h6>
                            <ul class="submenu-list__items">
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Dresses</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Tops</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Jackets & Coats</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Jumpers & Cardigans</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Jeans</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Swimwear</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Loungewear</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Essentials</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">At Home</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="submenu__column">
                          <div class="submenu-list">
                            <h6 class="submenu-list__title">Shop by trend</h6>
                            <ul class="submenu-list__items">
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Mood-Boosting Hues</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Neutrals</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">The New Green</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Broderie</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Animal</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="submenu__column">
                          <a href="#"
                             class="submenu-best">
                            <img v-lazy="'../images/tmp/header-best-1.png'"
                                 alt="Dresses"
                                 class="submenu-best__image image-cover">
                            <div class="submenu-best__content">
                              <div class="submenu-best__title">Dresses</div>
                              <div class="submenu-best__button">
                                <span class="btn">Shop</span>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="submenu__column">
                          <a href="#"
                             class="submenu-best">
                            <img v-lazy="'../images/tmp/header-best-2.png'"
                                 alt="Dresses"
                                 class="submenu-best__image image-cover">
                            <div class="submenu-best__content">
                              <div class="submenu-best__title">New in</div>
                              <div class="submenu-best__button">
                                <span class="btn">Shop</span>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title"><span>Clothing</span></a>
                </li>
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title"><span>Shoes</span></a>
                </li>
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title"><span>Bags</span></a>
                </li>
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title"><span>Accessories</span></a>
                  <div class="header-submenu__item-content">
                    <div class="container">
                      <div class="submenu">
                        <div class="submenu__column">
                          <div class="submenu-list">
                            <h6 class="submenu-list__title">Shop by category</h6>
                            <ul class="submenu-list__items">
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">See all</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Backpacks</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Wallets</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Tights & socks</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Belts</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Jewellery</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Caps & hats</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Scarves & foulards</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Other</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="submenu__column">
                          <a href="#"
                             class="submenu-best">
                            <img v-lazy="'../images/tmp/header-best-3.png'"
                                 alt="Dresses"
                                 class="submenu-best__image image-cover">
                            <div class="submenu-best__content">
                              <div class="submenu-best__title">Belts</div>
                              <div class="submenu-best__button">
                                <span class="btn">Shop</span>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="submenu__column">
                          <a href="#"
                             class="submenu-best">
                            <img v-lazy="'../images/tmp/header-best-4.png'"
                                 alt="Dresses"
                                 class="submenu-best__image image-cover">
                            <div class="submenu-best__content">
                              <div class="submenu-best__title">Jewellery</div>
                              <div class="submenu-best__button">
                                <span class="btn">Shop</span>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="submenu__column">
                          <a href="#"
                             class="submenu-best">
                            <img v-lazy="'../images/tmp/header-best-5.png'"
                                 alt="Dresses"
                                 class="submenu-best__image image-cover">
                            <div class="submenu-best__content">
                              <div class="submenu-best__title">Glasses</div>
                              <div class="submenu-best__button">
                                <span class="btn">Shop</span>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title"><span>Jewelry</span></a>
                </li>
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title"><span>Home&Gifts</span></a>
                </li>
              </ul>
              <ul class="header-submenu" data-submenu="men">
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title special"><span>Sale</span></a>
                </li>
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title"><span>Home&Gifts</span></a>
                </li>
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title"><span>New in</span></a>
                </li>
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title"><span>Clothing</span></a>
                </li>
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title"><span>Bags</span></a>
                </li>
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title"><span>Jewelry</span></a>
                </li>
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title"><span>Shoes</span></a>
                  <div class="header-submenu__item-content">
                    <div class="container">
                      <div class="submenu">
                        <div class="submenu__column">
                          <div class="submenu-list">
                            <h6 class="submenu-list__title">Shop by category</h6>
                            <ul class="submenu-list__items">
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Dresses</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Tops</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Jackets & Coats</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Jumpers & Cardigans</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Jeans</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Swimwear</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Loungewear</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Essentials</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">At Home</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="submenu__column">
                          <div class="submenu-list">
                            <h6 class="submenu-list__title">Shop by trend</h6>
                            <ul class="submenu-list__items">
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Mood-Boosting Hues</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Neutrals</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">The New Green</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Broderie</a>
                              </li>
                              <li class="submenu-list__item">
                                <a class="submenu-list__item-link"
                                   href="#">Animal</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="submenu__column">
                          <a href="#"
                             class="submenu-best">
                            <img v-lazy="'../images/tmp/header-best-1.png'"
                                 alt="Dresses"
                                 class="submenu-best__image image-cover">
                            <div class="submenu-best__content">
                              <div class="submenu-best__title">Dresses</div>
                              <div class="submenu-best__button">
                                <span class="btn">Shop</span>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="submenu__column">
                          <a href="#"
                             class="submenu-best">
                            <img v-lazy="'../images/tmp/header-best-2.png'"
                                 alt="Dresses"
                                 class="submenu-best__image image-cover">
                            <div class="submenu-best__content">
                              <div class="submenu-best__title">New in</div>
                              <div class="submenu-best__button">
                                <span class="btn">Shop</span>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="header-submenu" data-submenu="kids">
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title special"><span>Sale</span></a>
                </li>
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title"><span>New in</span></a>
                </li>
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title"><span>Clothing</span></a>
                </li>
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title"><span>Shoes</span></a>
                </li>
                <li class="header-submenu__item">
                  <a href="#" class="header-submenu__item-title"><span>Home&Gifts</span></a>
                </li>
              </ul>
            </div>
            <form class="header-search">
              <button type="submit"
                      class="header-search__icon">
                <svg aria-label="Search">
                  <use xlink:href="#svg-icon-search"></use>
                </svg>
              </button>
              <input type="search" class="header-search__field" placeholder="Search for...">
            </form>
          </div>
        </div>
      </div>
    </div>
    <mobile-menu></mobile-menu>
  </div>
</template>
