<script>
	export default {
		name: "InstagramList",
		data: () => {
			return {
				photos: [],
				isLoadingPhotos: false
			}
		},
		created() {
			this.pushItems();
		},
		methods: {
			pushItems: function () {
				let count = this.photos.length;

				for (let i = count; i < count + 4; i++) {
					this.photos.push(
						{url: 'https://picsum.photos/357/357?random=' + i, likes: '11k', title: 'Image caption'}
					);
				}
			},
			loadMore: function () {
				let delay = Math.floor(Math.random() * 500);

				this.isLoadingPhotos = true;

				setTimeout(() => {
					this.pushItems();
					this.isLoadingPhotos = false;
				}, delay);
			}
		}
	};
</script>

<template>
  <div>
    <div class="section-subtitle">Instagram</div>
    <h1 class="section-title section-title--instagram"><span>MillenniumShop</span></h1>
    <div class="ins">
      <div class="ins__item"
           v-for="photo in photos">
        <a :href="photo.url"
           class="ins__item-link">
          <img class="ins__item-image image-cover lazy"
               v-lazy="photo.url"
               :alt="photo.title">
          <span class="ins__item-likes">{{photo.likes}} Likes</span>
        </a>
      </div>
    </div>

    <div class="m-t text-center">
      <div class="btn-container" :class="{'loader loader-btn': isLoadingPhotos}">
        <button class="btn" @click="loadMore">More...</button>
      </div>
    </div>
  </div>
</template>
