<script>
	export default {
		name: "MobileMenu",
    mounted() {
      this.initMobileMenu();
		},
    methods: {
			initMobileMenu: function () {
				if (document.querySelector('.mm__menu-category')) {
					let spoilersTitles = document.querySelectorAll('.mm__menu-category-title');

					spoilersTitles.forEach(spoilerTitle => {
						spoilerTitle.addEventListener('click', (e) => {
							e.preventDefault();

							let menu = spoilerTitle.nextElementSibling;
							let parent = menu.parentElement.parentElement.parentElement.parentElement;

							spoilerTitle.classList.toggle('active');

							if (menu.style.maxHeight) {
								menu.style.maxHeight = null;
							} else {
								menu.style.maxHeight = menu.scrollHeight + "px";
							}

							if (parent.classList.contains('mm__menu-category')) {
								if (spoilerTitle.classList.contains('active')) {
									parent.children[1].style.maxHeight = menu.scrollHeight + parent.children[1].scrollHeight + "px";
								} else {
									setTimeout(() => {
										parent.children[1].style.maxHeight = parent.children[1].scrollHeight + "px";
									}, 180);
								}
							}
						});
					});
				}
			},
      changeMenu: function (e, activeMenu) {
				e.preventDefault();

				const activeTab = event.currentTarget;

				if (document.querySelector('.mm__menu')) {
					document.querySelectorAll('.mm__tabs-item').forEach(menu => menu.classList.remove('active'));
					document.querySelector('.mm__menus').className = `mm__menus ${activeMenu}`;
					activeTab.classList.add('active');
				}
			}
    }
	};
</script>

<template>
  <div>
    <div class="mm" id="mobile-menu">
      <div class="mm__header">
        <div class="container">
          <div class="mm__header-content">
            <div class="mm__tabs">
              <a class="mm__tabs-item active" @click="changeMenu($event, 'women')"><span>Women</span></a>
              <a class="mm__tabs-item" @click="changeMenu($event, 'men')"><span>Men</span></a>
              <a class="mm__tabs-item" @click="changeMenu($event, 'kids')"><span>Kids</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="mm__content">
        <div class="mm__menus">
          <ul class="mm__menu">
            <li><a class="mm__menu-item special" href="#">Sale</a></li>
            <li>
              <div class="mm__menu-category">
                <a href="#" class="mm__menu-item mm__menu-category-title">New in</a>
                <ul class="mm__menu-category-list">
                  <li>
                    <div class="mm__menu-category subcategory">
                      <a href="#" class="mm__menu-item  mm__menu-category-title">Shop by category</a>
                      <ul class="mm__menu-category-list">
                        <li><a class="mm__menu-subitem" href="#">Dresses</a></li>
                        <li><a class="mm__menu-subitem" href="#">Tops</a></li>
                        <li><a class="mm__menu-subitem" href="#">Jackets & Coats</a></li>
                        <li><a class="mm__menu-subitem" href="#">Jumpers & Cardigans</a></li>
                        <li><a class="mm__menu-subitem" href="#">Jeans</a></li>
                        <li><a class="mm__menu-subitem" href="#">Swimwear</a></li>
                        <li><a class="mm__menu-subitem" href="#">Loungewear</a></li>
                        <li><a class="mm__menu-subitem" href="#">Essentials</a></li>
                        <li><a class="mm__menu-subitem" href="#">At Home</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="mm__menu-category subcategory">
                      <a href="#" class="mm__menu-item  mm__menu-category-title">Shop by trend</a>
                      <ul class="mm__menu-category-list">
                        <li><a class="mm__menu-subitem" href="#">Mood-Boosting</a></li>
                        <li><a class="mm__menu-subitem" href="#">Neutrals</a></li>
                        <li><a class="mm__menu-subitem" href="#">The New Green</a></li>
                        <li><a class="mm__menu-subitem" href="#">Broderie</a></li>
                        <li><a class="mm__menu-subitem" href="#">Animal</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li><a class="mm__menu-item" href="#">Clothing</a></li>
            <li><a class="mm__menu-item" href="#">Shoes</a></li>
            <li><a class="mm__menu-item" href="#">Bags</a></li>
            <li>
              <div class="mm__menu-category">
                <a href="#" class="mm__menu-item mm__menu-category-title">Accessories</a>
                <ul class="mm__menu-category-list">
                  <li>
                    <div class="mm__menu-category subcategory">
                      <a href="#" class="mm__menu-item  mm__menu-category-title">Shop by category</a>
                      <ul class="mm__menu-category-list">
                        <li><a class="mm__menu-subitem" href="#">See all</a></li>
                        <li><a class="mm__menu-subitem" href="#">Backpacks</a></li>
                        <li><a class="mm__menu-subitem" href="#">Wallets</a></li>
                        <li><a class="mm__menu-subitem" href="#">Tights & socks</a></li>
                        <li><a class="mm__menu-subitem" href="#">Belts</a></li>
                        <li><a class="mm__menu-subitem" href="#">Jewellery</a></li>
                        <li><a class="mm__menu-subitem" href="#">Caps & hats</a></li>
                        <li><a class="mm__menu-subitem" href="#">Scarves & foulards</a></li>
                        <li><a class="mm__menu-subitem" href="#">Other</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li><a class="mm__menu-item" href="#">Jewellery</a></li>
            <li><a class="mm__menu-item" href="#">Home&Gifts</a></li>
            <li><a class="mm__menu-item account" href="#">My account</a></li>
          </ul>
          <ul class="mm__menu">
            <li><a class="mm__menu-item special" href="#">Sale</a></li>
            <li><a class="mm__menu-item" href="#">Home&Gifts</a></li>
            <li><a class="mm__menu-item" href="#">New in</a></li>
            <li><a class="mm__menu-item" href="#">Clothing</a></li>
            <li><a class="mm__menu-item" href="#">Bags</a></li>
            <li><a class="mm__menu-item" href="#">Jewellery</a></li>
            <li>
              <div class="mm__menu-category">
                <a href="#" class="mm__menu-item mm__menu-category-title">Shoes</a>
                <ul class="mm__menu-category-list">
                  <li>
                    <div class="mm__menu-category subcategory">
                      <a href="#" class="mm__menu-item  mm__menu-category-title">Shop by category</a>
                      <ul class="mm__menu-category-list">
                        <li><a class="mm__menu-subitem" href="#">Dresses</a></li>
                        <li><a class="mm__menu-subitem" href="#">Tops</a></li>
                        <li><a class="mm__menu-subitem" href="#">Jackets & Coats</a></li>
                        <li><a class="mm__menu-subitem" href="#">Jumpers & Cardigans</a></li>
                        <li><a class="mm__menu-subitem" href="#">Jeans</a></li>
                        <li><a class="mm__menu-subitem" href="#">Swimwear</a></li>
                        <li><a class="mm__menu-subitem" href="#">Loungewear</a></li>
                        <li><a class="mm__menu-subitem" href="#">Essentials</a></li>
                        <li><a class="mm__menu-subitem" href="#">At Home</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="mm__menu-category subcategory">
                      <a href="#" class="mm__menu-item  mm__menu-category-title">Shop by trend</a>
                      <ul class="mm__menu-category-list">
                        <li><a class="mm__menu-subitem" href="#">Mood-Boosting</a></li>
                        <li><a class="mm__menu-subitem" href="#">Neutrals</a></li>
                        <li><a class="mm__menu-subitem" href="#">The New Green</a></li>
                        <li><a class="mm__menu-subitem" href="#">Broderie</a></li>
                        <li><a class="mm__menu-subitem" href="#">Animal</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li><a class="mm__menu-item account" href="#">My account</a></li>
          </ul>
          <ul class="mm__menu">
            <li><a class="mm__menu-item special" href="#">Sale</a></li>
            <li><a class="mm__menu-item" href="#">New in</a></li>
            <li><a class="mm__menu-item" href="#">Clothing</a></li>
            <li><a class="mm__menu-item" href="#">Shoes</a></li>
            <li><a class="mm__menu-item" href="#">Home&Gifts</a></li>
            <li><a class="mm__menu-item account" href="#">My account</a></li>
          </ul>
        </div>
      </div>
      <div class="mm__footer">
        <div class="container">
          <div class="mm__footer-content">
            <a href="#" class="location">
                <span class="location__region">
                  <span class="location__region-flag">
                    <img src="images/flags-gb.png" alt="United Kingdom">
                  </span>
                  <span class="location__region-title">United Kingdom</span>
                </span>
              <span class="location__language">English</span>
              <span class="location__currency">USD</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
