<script>
	export default {
		name: "ProductCard",
    props: [
			"secondaryImage",
      "mainImage",
      "link",
      "label",
      "colors",
      "title",
      "subtitle",
      "price"
    ],
		data: () => {
			return {
				hover: false
			}
		},
    mounted() {

		},
    methods: {
			changeHoverStatus: function () {
				if (window.innerWidth >= 992) {
					this.hover = !this.hover;
        }
      },
			like: function (e) {
        const likeButton = event.currentTarget;

        likeButton.classList.toggle('active');
			}
    }
	};
</script>

<template>
  <div>
    <div class="product-card" @mouseenter="changeHoverStatus" @mouseleave="changeHoverStatus">
      <div class="product-card__content">
        <a :href="link"
           class="product-card__image lazy"
           v-lazy:background-image="secondaryImage">
          <transition name="fade">
            <div v-if="hover"
                 class="product-card__image-secondary">
              <img :src="mainImage"
                   :alt="title">
            </div>
          </transition>
        </a>
        <div class="product-card__informers">
          <div class="product-card__top">
            <div class="product-card__labels">
              <div class="product-card__label">{{label}}</div>
            </div>
            <button class="product-card__like" @click="like">
              <svg class="product-card__like-bordered">
                <use xlink:href="#svg-icon-like"></use>
              </svg>
              <svg class="product-card__like-filled">
                <use xlink:href="#svg-icon-like-filled"></use>
              </svg>
            </button>
          </div>
          <div class="product-card__bottom">
            <div class="product-card__colors">
              <div class="product-card__colors-list" v-for="color in colors.slice(0, 4)">
                <span class="product-card__colors-item" :style="{backgroundColor: color}"></span>
              </div>
              <div class="product-card__colors-text" v-if="colors.length > 4">+{{colors.length - 4}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-card__title">
        <a :href="link">{{title}}</a>
      </div>
      <div class="product-card__subtitle">{{subtitle}}</div>
      <div class="product-card__price">${{price}}</div>
    </div>
  </div>
</template>
